<!DOCTYPE html>
<html class="" lang="en">

<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="object" property="og:type">
    <meta content="GitLab" property="og:site_name">
    <meta content="InWord (#1) · Issues · ismond / xphp" property="og:title">
    <meta content="拼写错误" property="og:description">
    <meta content="http://192.168.3.213/assets/gitlab_logo-7ae504fe4f68fdebb3c2034e36621930cd36ea87924c11ff65dbcb8ed50dca58.png" property="og:image">
    <meta content="http://192.168.3.213/ismond/xphp/issues/1" property="og:url">
    <meta content="summary" property="twitter:card">
    <meta content="InWord (#1) · Issues · ismond / xphp" property="twitter:title">
    <meta content="拼写错误" property="twitter:description">
    <meta content="http://192.168.3.213/assets/gitlab_logo-7ae504fe4f68fdebb3c2034e36621930cd36ea87924c11ff65dbcb8ed50dca58.png" property="twitter:image">
    <meta property="twitter:label1" content="Author" />
    <meta property="twitter:data1" content="韦朝夺" />
    <meta property="twitter:label2" content="Assignee" />
    <meta property="twitter:data2" content="韦朝夺" />
    <title>InWord (#1) · Issues · ismond / xphp · GitLab</title>
    <meta content="拼写错误" name="description">
    <link rel="shortcut icon" type="image/x-icon" href="http://192.168.3.213/assets/favicon-075eba76312e8421991a0c1f89a89ee81678bcde72319dd3e8047e2a47cd3a42.ico" id="favicon" />
    <link rel="stylesheet" media="all" href="http://192.168.3.213/assets/application-783e07c41a01960ba80e92292c9e049d243952a2fb45c68a285f59f8e87185dc.css" />
    <link rel="stylesheet" media="print" href="http://192.168.3.213/assets/print-87bb95ae825e1039facb71c62197dad696049012bb8cfeb76bb57c3a4aa865a6.css" />
    <script src="http://192.168.3.213/assets/webpack/runtime.91b84f2f59fc5221a0db.bundle.js"></script>
    <script src="http://192.168.3.213/assets/webpack/common.e8bc527fe263a99fd779.bundle.js"></script>
    <script src="http://192.168.3.213/assets/webpack/main.b567b4eb3cc48cff916c.bundle.js"></script>
    <script src="http://192.168.3.213/assets/webpack/common_vue.b2eb4cf2b5facfa0ac26.bundle.js"></script>
    <script src="http://192.168.3.213/assets/webpack/issuable.5b6c9697ac3a08e4921b.bundle.js"></script>
    <script>window.project_uploads_path = "/ismond/xphp/uploads";
    window.preview_markdown_path = "/ismond/xphp/preview_markdown";</script>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="lafMa/CIjhnv5ChDLMSJ6Nb984PUMED0fCE+0awlj+JUFvxDLJNR30aQh+xP9BE/VtyHLR7uko5mrW6Ffoxw2A==" />
    <meta content="origin-when-cross-origin" name="referrer">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="#474D57" name="theme-color">
    <link rel="apple-touch-icon" type="image/x-icon" href="http://192.168.3.213/assets/touch-icon-iphone-5a9cee0e8a51212e70b90c87c12f382c428870c0ff67d1eb034d884b78d2dae7.png" />
    <link rel="apple-touch-icon" type="image/x-icon" href="http://192.168.3.213/assets/touch-icon-ipad-a6eec6aeb9da138e507593b464fdac213047e49d3093fc30e90d9a995df83ba3.png" sizes="76x76" />
    <link rel="apple-touch-icon" type="image/x-icon" href="http://192.168.3.213/assets/touch-icon-iphone-retina-72e2aadf86513a56e050e7f0f2355deaa19cc17ed97bbe5147847f2748e5a3e3.png" sizes="120x120" />
    <link rel="apple-touch-icon" type="image/x-icon" href="http://192.168.3.213/assets/touch-icon-ipad-retina-8ebe416f5313483d9c1bc772b5bbe03ecad52a54eba443e5215a22caed2a16a2.png" sizes="152x152" />
    <link color="rgb(226, 67, 41)" href="http://192.168.3.213/assets/logo-d36b5212042cebc89b96df4bf6ac24e43db316143e89926c0db839ff694d2de4.svg" rel="mask-icon">
    <meta content="http://192.168.3.213/assets/msapplication-tile-1196ec67452f618d39cdd85e2e3a542f76574c071051ae7effbfde01710eb17d.png" name="msapplication-TileImage">
    <meta content="#30353E" name="msapplication-TileColor"></head>

<body class="" data-group="" data-page="projects:issues:show" data-project="xphp">
<script>//<![CDATA[
window.gon = {};
gon.api_version = "v4";
gon.default_avatar_url = "http:\/\/192.168.3.213\/assets\/no_avatar-849f9c04a3a0d0cea2424ae97b27447dc64a7dbfae83c036c45b403392f0e8ba.png";
gon.max_file_size = 10;
gon.asset_host = null;
gon.relative_url_root = "";
gon.shortcuts_path = "\/help\/shortcuts";
gon.user_color_scheme = "white";
gon.katex_css_url = "\/assets\/katex-e46cafe9c3fa73920a7c2c063ee8bb0613e0cf85fd96a3aea25f8419c4bfcfba.css";
gon.katex_js_url = "\/assets\/katex-04bcf56379fcda0ee7c7a63f71d0fc15ffd2e014d017cd9d51fd6554dfccf40a.js";
gon.current_user_id = 15;
gon.current_username = "sven";
gon.current_user_fullname = "\u97e6\u671d\u593a";
//]]>
</script>
<header class="navbar navbar-gitlab with-horizontal-nav">
    <a class="sr-only gl-accessibility" href="#content-body" tabindex="1">Skip to content</a>
    <div class="container-fluid">
        <div class="header-content">
            <div class="dropdown global-dropdown">
                <button class="global-dropdown-toggle" data-toggle="dropdown" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <div class="dropdown-menu-nav global-dropdown-menu">
                    <ul>
                        <li class="active home">
                            <a title="Projects" class="dashboard-shortcuts-projects" href="/dashboard/projects">
                                <div class="shortcut-mappings">
                                    <div class="key">
                                        <i aria-label="hidden" class="fa fa-arrow-up"></i>P</div>
                                </div>
                                <span>Projects</span></a>
                        </li>
                        <li class="">
                            <a class="dashboard-shortcuts-activity" title="Activity" href="/dashboard/activity">
                                <div class="shortcut-mappings">
                                    <div class="key">
                                        <i aria-label="hidden" class="fa fa-arrow-up"></i>A</div>
                                </div>
                                <span>Activity</span></a>
                        </li>
                        <li class="">
                            <a class="dashboard-shortcuts-groups" title="Groups" href="/dashboard/groups">
                                <div class="shortcut-mappings">
                                    <div class="key">
                                        <i aria-label="hidden" class="fa fa-arrow-up"></i>G</div>
                                </div>
                                <span>Groups</span></a>
                        </li>
                        <li class="">
                            <a class="dashboard-shortcuts-milestones" title="Milestones" href="/dashboard/milestones">
                                <div class="shortcut-mappings">
                                    <div class="key">
                                        <i aria-label="hidden" class="fa fa-arrow-up"></i>L</div>
                                </div>
                                <span>Milestones</span></a>
                        </li>
                        <li class="">
                            <a title="Issues" class="dashboard-shortcuts-issues" href="/dashboard/issues?assignee_id=15">
                                <div class="shortcut-mappings">
                                    <div class="key">
                                        <i aria-label="hidden" class="fa fa-arrow-up"></i>I</div>
                                </div>
                                <span>Issues</span>
                                <div class="badge">0</div></a>
                        </li>
                        <li class="">
                            <a title="Merge Requests" class="dashboard-shortcuts-merge_requests" href="/dashboard/merge_requests?assignee_id=15">
                                <div class="shortcut-mappings">
                                    <div class="key">
                                        <i aria-label="hidden" class="fa fa-arrow-up"></i>M</div>
                                </div>
                                <span>Merge Requests</span>
                                <div class="badge">0</div></a>
                        </li>
                        <li class="">
                            <a class="dashboard-shortcuts-snippets" title="Snippets" href="/dashboard/snippets">
                                <div class="shortcut-mappings">
                                    <div class="key">
                                        <i aria-label="hidden" class="fa fa-arrow-up"></i>S</div>
                                </div>
                                <span>Snippets</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a title="About GitLab CE" class="about-gitlab" href="/help">Help</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-logo">
                <a class="home" title="Dashboard" id="logo" href="/">
                    <svg width="28" height="28" class="tanuki-logo" viewBox="0 0 36 36">
                        <path class="tanuki-shape tanuki-left-ear" fill="#e24329" d="M2 14l9.38 9v-9l-4-12.28c-.205-.632-1.176-.632-1.38 0z" />
                        <path class="tanuki-shape tanuki-right-ear" fill="#e24329" d="M34 14l-9.38 9v-9l4-12.28c.205-.632 1.176-.632 1.38 0z" />
                        <path class="tanuki-shape tanuki-nose" fill="#e24329" d="M18,34.38 3,14 33,14 Z" />
                        <path class="tanuki-shape tanuki-left-eye" fill="#fc6d26" d="M18,34.38 11.38,14 2,14 6,25Z" />
                        <path class="tanuki-shape tanuki-right-eye" fill="#fc6d26" d="M18,34.38 24.62,14 34,14 30,25Z" />
                        <path class="tanuki-shape tanuki-left-cheek" fill="#fca326" d="M2 14L.1 20.16c-.18.565 0 1.2.5 1.56l17.42 12.66z" />
                        <path class="tanuki-shape tanuki-right-cheek" fill="#fca326" d="M34 14l1.9 6.16c.18.565 0 1.2-.5 1.56L18 34.38z" /></svg>
                </a>
            </div>
            <div class="title-container">
                <h1 class="initializing title">
                            <span class="group-title">
                                <a class="group-path" href="/ismond">ismond</a></span>/
                    <a class="project-item-select-holder" href="/ismond/xphp">xphp</a>
                    <button name="button" type="button" class="dropdown-toggle-caret js-projects-dropdown-toggle" aria-label="Toggle switch project dropdown" data-target=".js-dropdown-menu-projects" data-toggle="dropdown" data-order-by="last_activity_at">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                </h1>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden-sm hidden-xs">
                        <div class="has-location-badge search search-form">
                            <form class="navbar-form" action="/search" accept-charset="UTF-8" method="get">
                                <input name="utf8" type="hidden" value="&#x2713;" />
                                <div class="search-input-container">
                                    <div class="location-badge">This project</div>
                                    <div class="search-input-wrap">
                                        <div class="dropdown" data-url="/search/autocomplete">
                                            <input type="search" name="search" id="search" placeholder="Search" class="search-input dropdown-menu-toggle no-outline js-search-dashboard-options" spellcheck="false" tabindex="1" autocomplete="off" data-toggle="dropdown" data-issues-path="http://192.168.3.213/dashboard/issues" data-mr-path="http://192.168.3.213/dashboard/merge_requests" />
                                            <div class="dropdown-menu dropdown-select">
                                                <div class="dropdown-content">
                                                    <ul>
                                                        <li>
                                                            <a class="is-focused dropdown-menu-empty-link">Loading...</a></li>
                                                    </ul>
                                                </div>
                                                <div class="dropdown-loading">
                                                    <i class="fa fa-spinner fa-spin"></i>
                                                </div>
                                            </div>
                                            <i class="search-icon"></i>
                                            <i class="clear-icon js-clear-input"></i>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="group_id" id="group_id" class="js-search-group-options" />
                                <input type="hidden" name="project_id" id="search_project_id" value="31" class="js-search-project-options" data-project-path="xphp" data-name="xphp" data-issues-path="/ismond/xphp/issues" data-mr-path="/ismond/xphp/merge_requests" />
                                <input type="hidden" name="scope" id="scope" value="issues" />
                                <input type="hidden" name="repository_ref" id="repository_ref" />
                                <div class="search-autocomplete-opts hide" data-autocomplete-path="/search/autocomplete" data-autocomplete-project-id="31"></div>
                            </form>
                        </div>
                    </li>
                    <li class="visible-sm-inline-block visible-xs-inline-block">
                        <a title="Search" aria-label="Search" data-toggle="tooltip" data-placement="bottom" data-container="body" href="/search">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                    <li>
                        <a title="New project" aria-label="New project" data-toggle="tooltip" data-placement="bottom" data-container="body" href="/projects/new">
                            <i class="fa fa-plus fa-fw"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Issues" aria-label="Issues" data-toggle="tooltip" data-placement="bottom" data-container="body" href="/dashboard/issues?assignee_id=15">
                            <i class="fa fa-hashtag fa-fw"></i>
                            <span class="badge hidden issues-count">0</span></a>
                    </li>
                    <li>
                        <a title="Merge requests" aria-label="Merge requests" data-toggle="tooltip" data-placement="bottom" data-container="body" href="/dashboard/merge_requests?assignee_id=15">
                            <svg width="15" height="20" viewBox="0 0 12 14" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 4.967a2.15 2.15 0 1 1 2.3 0v5.066a2.15 2.15 0 1 1-2.3 0V4.967zm7.85 5.17V5.496c0-.745-.603-1.346-1.35-1.346V6l-3-3 3-3v1.85c2.016 0 3.65 1.63 3.65 3.646v4.45a2.15 2.15 0 1 1-2.3.191z" fill-rule="nonzero" /></svg>
                            <span class="badge hidden merge-requests-count">0</span></a>
                    </li>
                    <li>
                        <a title="Todos" aria-label="Todos" class="shortcuts-todos" data-toggle="tooltip" data-placement="bottom" data-container="body" href="/dashboard/todos">
                            <i class="fa fa-check-circle fa-fw"></i>
                            <span class="badge hidden todos-count">0</span></a>
                    </li>
                    <li class="header-user dropdown">
                        <a class="header-user-dropdown-toggle" data-toggle="dropdown" href="/sven">
                            <img width="26" height="26" class="header-user-avatar" src="http://192.168.3.213/uploads/user/avatar/15/avatar.png" alt="Avatar" />
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <div class="dropdown-menu-nav dropdown-menu-align-right">
                            <ul>
                                <li>
                                    <a class="profile-link" aria-label="Profile" data-user="sven" href="/sven">Profile</a></li>
                                <li>
                                    <a aria-label="Settings" href="/profile">Settings</a></li>
                                <li class="divider"></li>
                                <li>
                                    <a class="sign-out-link" aria-label="Sign out" rel="nofollow" data-method="delete" href="<?=ROOT_URL?>users/sign_out">Sign out</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <button class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="js-dropdown-menu-projects">
                <div class="dropdown-menu dropdown-select dropdown-menu-projects">
                    <div class="dropdown-title">
                        <span>Go to a project</span>
                        <button class="dropdown-title-button dropdown-menu-close" aria-label="Close" type="button">
                            <i class="fa fa-times dropdown-menu-close-icon"></i>
                        </button>
                    </div>
                    <div class="dropdown-input">
                        <input type="search" id="" class="dropdown-input-field" placeholder="Search your projects" autocomplete="off" />
                        <i class="fa fa-search dropdown-input-search"></i>
                        <i role="button" class="fa fa-times dropdown-input-clear js-dropdown-input-clear"></i>
                    </div>
                    <div class="dropdown-content"></div>
                    <div class="dropdown-loading">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<script>var findFileURL = "/ismond/xphp/find_file/master";</script>
<div class="page-gutter page-with-sidebar right-sidebar-expanded">
    <div class="layout-nav">
        <div class="container-fluid">
            <div class="nav-control scrolling-tabs-container">
                <div class="fade-left">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="fade-right">
                    <i class="fa fa-angle-right"></i>
                </div>
                <ul class="nav-links scrolling-tabs">
                    <li class="home">
                        <a title="Project" class="shortcuts-project" href="/ismond/xphp">
                            <span>Project</span></a>
                    </li>
                    <li class="">
                        <a title="Repository" class="shortcuts-tree" href="/ismond/xphp/tree/master">
                            <span>Repository</span></a>
                    </li>
                    <li class="active">
                        <a title="Issues" class="shortcuts-issues" href="/ismond/xphp/issues">
                                    <span>Issues
                                        <span class="badge count issue_counter">0</span></span>
                        </a>
                    </li>
                    <li class="">
                        <a title="Merge Requests" class="shortcuts-merge_requests" href="/ismond/xphp/merge_requests">
                                    <span>Merge Requests
                                        <span class="badge count merge_counter">0</span></span>
                        </a>
                    </li>
                    <li class="">
                        <a title="Pipelines" class="shortcuts-pipelines" href="/ismond/xphp/pipelines">
                            <span>Pipelines</span></a>
                    </li>
                    <li class="">
                        <a title="Wiki" class="shortcuts-wiki" href="/ismond/xphp/wikis/home">
                            <span>Wiki</span></a>
                    </li>
                    <li class="">
                        <a title="Snippets" class="shortcuts-snippets" href="/ismond/xphp/snippets">
                            <span>Snippets</span></a>
                    </li>
                    <li class="">
                        <a title="Settings" class="shortcuts-tree" href="/ismond/xphp/edit">
                            <span>Settings</span></a>
                    </li>
                    <li class="hidden">
                        <a title="Activity" class="shortcuts-project-activity" href="/ismond/xphp/activity">
                            <span>Activity</span></a>
                    </li>
                    <li class="hidden">
                        <a title="Network" class="shortcuts-network" href="/ismond/xphp/network/master">Graph</a></li>
                    <li class="hidden">
                        <a title="Charts" class="shortcuts-repository-charts" href="/ismond/xphp/graphs/master/charts">Charts</a></li>
                    <li class="hidden">
                        <a class="shortcuts-new-issue" href="/ismond/xphp/issues/new">Create a new issue</a></li>
                    <li class="hidden">
                        <a title="Jobs" class="shortcuts-builds" href="/ismond/xphp/builds">Jobs</a></li>
                    <li class="hidden">
                        <a title="Commits" class="shortcuts-commits" href="/ismond/xphp/commits/master">Commits</a></li>
                    <li class="hidden">
                        <a title="Issue Boards" class="shortcuts-issue-boards" href="/ismond/xphp/boards">Issue Boards</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-wrapper page-with-layout-nav">
        <div class="alert-wrapper">
            <div class="flash-container flash-container-page"></div>
        </div>
        <div class="container-fluid ">
            <div class="content" id="content-body">
                <aside aria-live="polite" class="js-right-sidebar right-sidebar right-sidebar-expanded" data-offset-top="102" data-spy="affix">
                    <div class="issuable-sidebar">
                        <div class="block issuable-sidebar-header">
                            <span class="issuable-header-text hide-collapsed pull-left">Todo</span>
                            <a aria-label="Toggle sidebar" class="gutter-toggle pull-right js-sidebar-toggle" href="#" role="button">
                                <i aria-hidden="true" class="fa fa-angle-double-right"></i>
                            </a>
                            <button aria-label="Add todo" class="btn btn-default issuable-header-btn issuable-todo-btn js-issuable-todo pull-right" data-issuable-id="1" data-issuable-type="issue" data-mark-text="Mark done" data-todo-text="Add todo" data-url="/ismond/xphp/todos" title="Add todo" type="button">
                                <span class="issuable-todo-inner js-issuable-todo-inner">Add todo</span>
                                <i aria-hidden="true" class="fa fa-spin fa-spinner"></i>
                            </button>
                        </div>
                        <form class="issuable-context-form inline-update js-issuable-update" id="edit_issue_1" action="/ismond/xphp/issues/1.json" accept-charset="UTF-8" data-remote="true" method="post">
                            <input name="utf8" type="hidden" value="&#x2713;" />
                            <input type="hidden" name="_method" value="patch" />
                            <div class="block todo hide-expanded">
                                <button aria-label="Add todo" class="btn-blank dont-change-state has-tooltip issuable-todo-btn js-issuable-todo sidebar-collapsed-icon" data-container="body" data-issuable-id="1" data-issuable-type="issue" data-mark-icon="&lt;i class=&quot;fa fa-check-square todo-undone&quot;&gt;&lt;/i&gt;" data-mark-text="Mark done" data-placement="left" data-todo-icon="&lt;i class=&quot;fa fa-plus-square&quot;&gt;&lt;/i&gt;" data-todo-text="Add todo" data-url="/ismond/xphp/todos" title="Add todo" type="button">
                                            <span class="issuable-todo-inner js-issuable-todo-inner">
                                                <i class="fa fa-plus-square"></i>
                                            </span>
                                    <i aria-hidden="true" class="fa fa-spin fa-spinner"></i>
                                </button>
                            </div>
                            <div class="block assignee">
                                <div class="sidebar-collapsed-icon sidebar-collapsed-user" data-container="body" data-placement="left" data-toggle="tooltip" title="韦朝夺">
                                    <a class="author_link  " href="/sven">
                                        <img width="24" class="avatar avatar-inline s24 " alt="" src="http://192.168.3.213/uploads/user/avatar/15/avatar.png" />
                                        <span class="author ">韦朝夺</span></a>
                                </div>
                                <div class="title hide-collapsed">Assignee
                                    <i aria-hidden="true" class="fa fa-spinner fa-spin hidden block-loading"></i>
                                    <a class="edit-link pull-right" href="#">Edit</a></div>
                                <div class="value hide-collapsed">
                                    <a class="author_link bold " href="/sven">
                                        <img width="32" class="avatar avatar-inline s32 " alt="" src="http://192.168.3.213/uploads/user/avatar/15/avatar.png" />
                                        <span class="author ">韦朝夺</span>
                                        <span class="username">@sven</span></a>
                                </div>
                                <div class="selectbox hide-collapsed">
                                    <input value="15" id="issue_assignee_id" type="hidden" name="issue[assignee_id]" />
                                    <div class="dropdown ">
                                        <button class="dropdown-menu-toggle js-user-search js-author-search" type="button" data-first-user="sven" data-current-user="true" data-project-id="31" data-author-id="15" data-field-name="issue[assignee_id]" data-issue-update="/ismond/xphp/issues/1.json" data-ability-name="issue" data-null-user="true" data-toggle="dropdown">
                                            <span class="dropdown-toggle-text ">Select assignee</span>
                                            <i class="fa fa-chevron-down"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-select dropdown-menu-user dropdown-menu-selectable dropdown-menu-author">
                                            <div class="dropdown-title">
                                                <span>Assign to</span>
                                                <button class="dropdown-title-button dropdown-menu-close" aria-label="Close" type="button">
                                                    <i class="fa fa-times dropdown-menu-close-icon"></i>
                                                </button>
                                            </div>
                                            <div class="dropdown-input">
                                                <input type="search" id="" class="dropdown-input-field" placeholder="Search users" autocomplete="off" />
                                                <i class="fa fa-search dropdown-input-search"></i>
                                                <i role="button" class="fa fa-times dropdown-input-clear js-dropdown-input-clear"></i>
                                            </div>
                                            <div class="dropdown-content "></div>
                                            <div class="dropdown-loading">
                                                <i class="fa fa-spinner fa-spin"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block milestone">
                                <div class="sidebar-collapsed-icon">
                                    <i aria-hidden="true" class="fa fa-clock-o"></i>
                                    <span>
                                                <span class="has-tooltip" data-container="body" data-html="1" data-placement="left" title="&lt;strong&gt;Past due&lt;/strong&gt;">New Milestone</span></span>
                                </div>
                                <div class="title hide-collapsed">Milestone
                                    <i aria-hidden="true" class="fa fa-spinner fa-spin hidden block-loading"></i>
                                    <a class="edit-link pull-right" href="#">Edit</a></div>
                                <div class="value hide-collapsed">
                                    <a class="bold has-tooltip" title="<strong>Past due</strong>" data-container="body" data-html="1" href="/ismond/xphp/milestones/1">New Milestone</a></div>
                                <div class="selectbox hide-collapsed">
                                    <input value="1" type="hidden" name="issue[milestone_id]" />
                                    <div class="dropdown ">
                                        <button class="dropdown-menu-toggle js-milestone-select js-extra-options" type="button" data-show-no="true" data-field-name="issue[milestone_id]" data-project-id="31" data-issuable-id="1" data-milestones="/ismond/xphp/milestones.json" data-ability-name="issue" data-issue-update="/ismond/xphp/issues/1.json" data-use-id="true" data-toggle="dropdown">
                                            <span class="dropdown-toggle-text ">Milestone</span>
                                            <i class="fa fa-chevron-down"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-select dropdown-menu-selectable">
                                            <div class="dropdown-title">
                                                <span>Assign milestone</span>
                                                <button class="dropdown-title-button dropdown-menu-close" aria-label="Close" type="button">
                                                    <i class="fa fa-times dropdown-menu-close-icon"></i>
                                                </button>
                                            </div>
                                            <div class="dropdown-input">
                                                <input type="search" id="" class="dropdown-input-field" placeholder="Search milestones" autocomplete="off" />
                                                <i class="fa fa-search dropdown-input-search"></i>
                                                <i role="button" class="fa fa-times dropdown-input-clear js-dropdown-input-clear"></i>
                                            </div>
                                            <div class="dropdown-content "></div>
                                            <div class="dropdown-loading">
                                                <i class="fa fa-spinner fa-spin"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block" id="issuable-time-tracker">
                                <issuable-time-tracker :human_time_estimate="issuable.human_time_estimate" :human_time_spent="issuable.human_total_time_spent" :time_estimate="issuable.time_estimate" :time_spent="issuable.total_time_spent" docs-url="/help/workflow/time_tracking.md">
                                    <!-- / Fallback while content is loading -->
                                    <div class="title hide-collapsed">Time tracking
                                        <i aria-hidden="true" class="fa fa-spinner fa-spin"></i></div>
                                </issuable-time-tracker>
                            </div>
                            <div class="block due_date">
                                <div class="sidebar-collapsed-icon">
                                    <i aria-hidden="true" class="fa fa-calendar"></i>
                                    <span class="js-due-date-sidebar-value">None</span></div>
                                <div class="title hide-collapsed">Due date
                                    <i aria-hidden="true" class="fa fa-spinner fa-spin hidden block-loading"></i>
                                    <a class="edit-link pull-right" href="#">Edit</a></div>
                                <div class="value hide-collapsed">
                                            <span class="value-content">
                                                <span class="no-value">No due date</span></span>
                                    <span class="hidden js-remove-due-date-holder no-value">-
                                                <a class="js-remove-due-date" href="#" role="button">remove due date</a></span>
                                </div>
                                <div class="selectbox hide-collapsed">
                                    <input type="hidden" name="issue[due_date]" id="issue_due_date" />
                                    <div class="dropdown">
                                        <button class="dropdown-menu-toggle js-due-date-select" data-ability-name="issue" data-field-name="issue[due_date]" data-issue-update="/ismond/xphp/issues/1.json" data-toggle="dropdown" type="button">
                                            <span class="dropdown-toggle-text">Due date</span>
                                            <i aria-hidden="true" class="fa fa-chevron-down"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-due-date">
                                            <div class="dropdown-title">
                                                <span>Due date</span>
                                                <button class="dropdown-title-button dropdown-menu-close" aria-label="Close" type="button">
                                                    <i class="fa fa-times dropdown-menu-close-icon"></i>
                                                </button>
                                            </div>
                                            <div class="dropdown-content">
                                                <div class="js-due-date-calendar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block labels">
                                <div class="sidebar-collapsed-icon js-sidebar-labels-tooltip" data-container="body" data-placement="left" title="Error, Success, Warn">
                                    <i aria-hidden="true" class="fa fa-tags"></i>
                                    <span>3</span></div>
                                <div class="title hide-collapsed">Labels
                                    <i aria-hidden="true" class="fa fa-spinner fa-spin hidden block-loading"></i>
                                    <a class="edit-link pull-right" href="#">Edit</a></div>
                                <div class="has-labels hide-collapsed issuable-show-labels value">
                                    <a href="/ismond/xphp/issues?label_name%5B%5D=Error">
                                        <span class="label color-label has-tooltip" style="background-color: #FF0000; color: #FFFFFF" title="red waring" data-container="body">Error</span></a>
                                    <a href="/ismond/xphp/issues?label_name%5B%5D=Success">
                                        <span class="label color-label has-tooltip" style="background-color: #69D100; color: #FFFFFF" title="" data-container="body">Success</span></a>
                                    <a href="/ismond/xphp/issues?label_name%5B%5D=Warn">
                                        <span class="label color-label has-tooltip" style="background-color: #F0AD4E; color: #FFFFFF" title="Warning" data-container="body">Warn</span></a>
                                </div>
                                <div class="selectbox hide-collapsed">
                                    <input type="hidden" name="issue[label_names][]" value="9" />
                                    <input type="hidden" name="issue[label_names][]" value="11" />
                                    <input type="hidden" name="issue[label_names][]" value="10" />
                                    <div class="dropdown">
                                        <button class="dropdown-menu-toggle js-label-select js-multiselect js-label-sidebar-dropdown" data-ability-name="issue" data-default-label="Labels" data-field-name="issue[label_names][]" data-issue-update="/ismond/xphp/issues/1.json" data-labels="/ismond/xphp/labels.json" data-namespace-path="ismond" data-project-path="xphp" data-show-any="true" data-show-no="true" data-toggle="dropdown" type="button">
                                            <span class="dropdown-toggle-text">Error +2 more</span>
                                            <i aria-hidden="true" class="fa fa-chevron-down"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-select dropdown-menu-paging dropdown-menu-labels dropdown-menu-selectable">
                                            <div class="dropdown-page-one">
                                                <div class="dropdown-title">
                                                    <span>Assign labels</span>
                                                    <button class="dropdown-title-button dropdown-menu-close" aria-label="Close" type="button">
                                                        <i class="fa fa-times dropdown-menu-close-icon"></i>
                                                    </button>
                                                </div>
                                                <div class="dropdown-input">
                                                    <input type="search" id="" class="dropdown-input-field" placeholder="Search" autocomplete="off" />
                                                    <i class="fa fa-search dropdown-input-search"></i>
                                                    <i role="button" class="fa fa-times dropdown-input-clear js-dropdown-input-clear"></i>
                                                </div>
                                                <div class="dropdown-content"></div>
                                                <div class="dropdown-footer">
                                                    <ul class="dropdown-footer-list">
                                                        <li>
                                                            <a class="dropdown-toggle-page" href="#">Create new label</a></li>
                                                        <li>
                                                            <a data-is-link="true" href="/ismond/xphp/labels">Manage labels</a></li>
                                                    </ul>
                                                </div>
                                                <div class="dropdown-loading">
                                                    <i class="fa fa-spinner fa-spin"></i>
                                                </div>
                                            </div>
                                            <div class="dropdown-page-two dropdown-new-label">
                                                <div class="dropdown-title">
                                                    <button class="dropdown-title-button dropdown-menu-back" aria-label="Go back" type="button">
                                                        <i class="fa fa-arrow-left"></i>
                                                    </button>
                                                    <span>Create new label</span>
                                                    <button class="dropdown-title-button dropdown-menu-close" aria-label="Close" type="button">
                                                        <i class="fa fa-times dropdown-menu-close-icon"></i>
                                                    </button>
                                                </div>
                                                <div class="dropdown-content">
                                                    <div class="dropdown-labels-error js-label-error"></div>
                                                    <input class="default-dropdown-input" id="new_label_name" placeholder="Name new label" type="text">
                                                    <div class="suggest-colors suggest-colors-dropdown">
                                                        <a style="background-color: #0033CC" data-color="#0033CC" href="#">&nbsp</a>
                                                        <a style="background-color: #428BCA" data-color="#428BCA" href="#">&nbsp</a>
                                                        <a style="background-color: #44AD8E" data-color="#44AD8E" href="#">&nbsp</a>
                                                        <a style="background-color: #A8D695" data-color="#A8D695" href="#">&nbsp</a>
                                                        <a style="background-color: #5CB85C" data-color="#5CB85C" href="#">&nbsp</a>
                                                        <a style="background-color: #69D100" data-color="#69D100" href="#">&nbsp</a>
                                                        <a style="background-color: #004E00" data-color="#004E00" href="#">&nbsp</a>
                                                        <a style="background-color: #34495E" data-color="#34495E" href="#">&nbsp</a>
                                                        <a style="background-color: #7F8C8D" data-color="#7F8C8D" href="#">&nbsp</a>
                                                        <a style="background-color: #A295D6" data-color="#A295D6" href="#">&nbsp</a>
                                                        <a style="background-color: #5843AD" data-color="#5843AD" href="#">&nbsp</a>
                                                        <a style="background-color: #8E44AD" data-color="#8E44AD" href="#">&nbsp</a>
                                                        <a style="background-color: #FFECDB" data-color="#FFECDB" href="#">&nbsp</a>
                                                        <a style="background-color: #AD4363" data-color="#AD4363" href="#">&nbsp</a>
                                                        <a style="background-color: #D10069" data-color="#D10069" href="#">&nbsp</a>
                                                        <a style="background-color: #CC0033" data-color="#CC0033" href="#">&nbsp</a>
                                                        <a style="background-color: #FF0000" data-color="#FF0000" href="#">&nbsp</a>
                                                        <a style="background-color: #D9534F" data-color="#D9534F" href="#">&nbsp</a>
                                                        <a style="background-color: #D1D100" data-color="#D1D100" href="#">&nbsp</a>
                                                        <a style="background-color: #F0AD4E" data-color="#F0AD4E" href="#">&nbsp</a>
                                                        <a style="background-color: #AD8D43" data-color="#AD8D43" href="#">&nbsp</a></div>
                                                    <div class="dropdown-label-color-input">
                                                        <div class="dropdown-label-color-preview js-dropdown-label-color-preview"></div>
                                                        <input class="default-dropdown-input" id="new_label_color" placeholder="Assign custom color like #FF0000" type="text"></div>
                                                    <div class="clearfix">
                                                        <button class="btn btn-primary pull-left js-new-label-btn" type="button">Create</button>
                                                        <button class="btn btn-default pull-right js-cancel-label-btn" type="button">Cancel</button></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block participants">
                                <div class="sidebar-collapsed-icon">
                                    <i class="fa fa-users"></i>
                                    <span>1</span></div>
                                <div class="title hide-collapsed">1 participant</div>
                                <div class="hide-collapsed participants-list">
                                    <div class="participants-author js-participants-author">
                                        <a class="author_link has-tooltip" title="韦朝夺" data-container="body" href="/sven">
                                            <img width="24" class="avatar avatar-inline s24 " alt="" src="http://192.168.3.213/uploads/user/avatar/15/avatar.png" /></a>
                                    </div>
                                </div>
                            </div>
                            <script>IssuableContext.prototype.PARTICIPANTS_ROW_COUNT = 7;</script>
                            <div class="block light subscription" data-url="/ismond/xphp/issues/1/toggle_subscription">
                                <div class="sidebar-collapsed-icon">
                                    <i aria-hidden="true" class="fa fa-rss"></i>
                                </div>
                                <span class="issuable-header-text hide-collapsed pull-left">Notifications</span>
                                <button class="btn btn-default pull-right js-subscribe-button issuable-subscribe-button hide-collapsed" type="button">
                                    <span>Unsubscribe</span></button>
                            </div>
                            <div class="block project-reference">
                                <div class="sidebar-collapsed-icon dont-change-state">
                                    <button class="btn btn-clipboard btn-transparent" data-toggle="tooltip" data-placement="left" data-container="body" data-title="Copy reference to clipboard" data-clipboard-text="ismond/xphp#1" type="button" title="Copy reference to clipboard">
                                        <i aria-hidden="true" class="fa fa-clipboard"></i>
                                    </button>
                                </div>
                                <div class="cross-project-reference hide-collapsed">
                                            <span>Reference:
                                                <cite title="ismond/xphp#1">ismond/xphp#1</cite></span>
                                    <button class="btn btn-clipboard btn-transparent" data-toggle="tooltip" data-placement="left" data-container="body" data-title="Copy reference to clipboard" data-clipboard-text="ismond/xphp#1" type="button" title="Copy reference to clipboard">
                                        <i aria-hidden="true" class="fa fa-clipboard"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <script>
                        new IssuableContext('{\"id\":15,\"name\":\"韦朝夺\",\"username\":\"sven\"}');
                        gl.Subscription.bindAll('.subscription');
                        new gl.DueDateSelectors();
                        window.sidebar = new Sidebar();
                        </script>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>

</body>

</html>