
.home-page {
    margin: 50px auto;
}
.home-page h2 {
    text-align: center;
    font-weight: 300;
    font-size: 28px;
    color: #314659;
    letter-spacing: 0.6px;
}
.home-page h2 span {
    font-weight: 600;
}
.home-page-wrapper {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    position: relative;
}

/** page1 **/
.page1 {
    height: 960px;
}
.page1-line.title-line-wrapper {
    width: 312px;
    margin: 24px auto 76px;
}
.page1-line.title-line-wrapper .title-line {
    -webkit-animation: page1TitleLine 3s ease-in-out 1.5s infinite;
    animation: page1TitleLine 3s ease-in-out 1.5s infinite;
}
.page1-bg {
    font-size: 320px;
    color: #ebedf0;
    position: absolute;
    width: 100%;
    text-align: center;
    opacity: 0.25;
    top: 0;
    -webkit-transform: translateY(960px);
    -ms-transform: translateY(960px);
    transform: translateY(960px);
}
.page1-box-wrapper {
    margin-bottom: 62px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.page1-box-wrapper li {
    width: 33.33%;
    display: inline-block;
    will-change: transform;
}
.page1-box-wrapper li .page1-box {
    width: 194px;
    margin: auto;
    text-align: center;
    position: relative;
}
.page1-box-wrapper li .page1-box .page1-image {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 20px auto 32px;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #fff;
    -webkit-transition: -webkit-box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
    transition: -webkit-box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
    transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
    transition: box-shadow 0.3s ease-out, transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.page1-box-wrapper li .page1-box:hover .page1-image {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.page1-box-wrapper li .page1-box h3 {
    color: #0d1a26;
    font-size: 16px;
    margin: 8px auto;
}
.page1-point-wrapper {
    position: absolute;
    width: 0;
    left: 50%;
    top: 0;
}
.page1-point-wrapper .point-0 {
    width: 4px;
    height: 4px;
}
.page1-point-wrapper .point-2,
.page1-point-wrapper .point-ring {
    width: 10px;
    height: 10px;
}
.page1-point-wrapper .point-ring {
    border-style: solid;
    border-width: 1px;
    background: transparent !important;
}
.page1-point-wrapper .point-1 {
    width: 6px;
    height: 6px;
}
.page1-point-wrapper .point-3 {
    width: 15px;
    height: 15px;
}
.page1-point-wrapper i {
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    opacity: 0;
    -webkit-transform: translate(0, 30px);
    -ms-transform: translate(0, 30px);
    transform: translate(0, 30px);
}