.container {
    width: 100%;
    margin: auto;
    min-width: 1100px;
    position: relative;
    padding: 10px;
}

.tile_40 {
    width: 40%;
}

.tile_60 {
    width: 60%;
}

.tile__name {
    cursor: move;
    padding-bottom: 10px;
    border-bottom: 1px solid #FF7373;
}

.tile__list {
    margin-top: 10px;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.g-avatar {
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #f0f0f0;
}

.g-avatar img {
    display: block;
    width: 100%;
    max-height: 100%;
}

.g-avatar-sm {
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.g-avatar-md {
    width: 26px;
    height: 26px;
    line-height: 26px;
}

.g-avatar-lg {
    width: 36px;
    height: 36px;
    line-height: 36px;
}

body.dashboard {
    background-color: #f0f2f5;
}

header .header-content {
    padding-top: 8px;
}

.content-wrapper {
    background-color: #f0f2f5;
    padding-bottom: 0;
}

.content-wrapper .container-fluid {
    background: none;
    padding: 24px 12px;
}

.content-wrapper .container-fluid .container {
    padding: 0;
}

.content-wrapper .content-header {
    width: 100%;
    background-color: #fff;
    padding: 16px 32px 16px;
    border-bottom: 1px solid #e8e8e8;
}

.content-header .breadcrumb{
    font-family: "Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-variant: tabular-nums;
    font-size: 14px;
    line-height: 34px;
    color: rgba(0,0,0,.45);
    background-color: #fff;
    padding: 0;
    margin-bottom: 0;
}

.breadcrumb span + span {
    margin-left: 8px;
}

.breadcrumb .cur{
    color: #333;
}

.content-header .user-profile {
    display: flex;
    width: 100%;
    padding-top: 15px;
}

.content-header .user-profile .user-profile-content {
    display: flex;
    flex: auto;
}

.user-profile-content .user-avatar {
    flex: 0 1 72px;
    margin-bottom: 8px;
}

.user-profile-content .user-avatar img {
    display: block;
    border-radius: 72px;
    width: 72px;
    height: 72px;
}

.user-profile-content .user-profile-text{
    position: relative;
    top: 5px;
    margin-left: 24px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color: rgba(0,0,0,.45);
    line-height: 22px;
}

.user-profile-text .text-title{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: rgba(0,0,0,.85);
    margin-bottom: 12px;
}

.user-profile .user-profile-extra {
    margin-left: 88px;
    text-align: right;
    margin-bottom: 16px;
}

.user-profile-extra .extra-item {
    padding: 0 32px;
    position: relative;
    display: inline-block;
}

.user-profile-extra .extra-item + .extra-item:before {
    background-color: #e8e8e8;
    position: absolute;
    top: 8px;
    left: 0;
    width: 1px;
    height: 40px;
    content: "";
}

.user-profile-extra .extra-item .extra-item-title{
    color: rgba(0,0,0,.45);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 4px;
}

.user-profile-extra .extra-item .extra-item-num{
    color: rgba(0,0,0,.85);
    font-size: 30px;
    line-height: 38px;
    margin: 0;
}

.extra-item-num span {
    color: rgba(0,0,0,.45);
    font-size: 20px;
}

.panel {
    border: none;
    box-shadow: none;
}

.panel-info > .panel-heading {
    padding: 16px 32px !important;
    background-color: transparent;
    border-bottom: 1px solid #e8e8e8;
    line-height: 24px;
    display: flex;
}

.panel-heading .panel-heading-title {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    flex: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(0,0,0,.85);
    font-weight: 500;
}

.panel-heading .panel-heading-extra a:not(.btn){
    color: #1890ff;
    text-decoration: none;
}

.group_panel {
    padding: 0 12px !important;
}

.panel {
    margin-bottom: 24px;
}

.panel .panel-body {
    padding: 12px 24px;
}

.panel .padding-0 {
    padding: 0;
}

.panel-project .project-item{
    padding: 24px;
    /*-webkit-box-shadow: 0 0 0 0 #fff, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8, 1px 0 0 0 #e8e8e8 inset, 0 1px 0 0 #e8e8e8 inset;*/
    /*box-shadow: 0 0 0 0 #fff, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8, inset 1px 0 0 0 #e8e8e8, inset 0 1px 0 0 #e8e8e8;*/
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.panel-project .project-item:nth-child(3n+3) {
    border-right: 0;
}

.project-item .project-item-pic {
    float: left;
}

.project-item-pic.pic-bg {
    font-size: 12px;
    background-color: #E0F2F1;
    color: #555;
}

.project-item .project-item-pic .list-item-name {
    display: block;
}

.project-item .project-item-name {
    color: rgba(0,0,0,.85);
    margin-left: 8px;
    line-height: 28px;
    height: 28px;
    display: block;
    vertical-align: top;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 8px;
}

.project-item .project-item-name a {
    color: rgba(0,0,0,.85);
}

.project-item .project-item-name a:hover {
    color: #1890ff;
    text-decoration: none;
}

.project-item .project-item-body {
    color: rgba(0,0,0,.45);
    height: 44px;
    line-height: 22px;
    overflow: hidden;
    margin: 8px 0;
}

.project-item .project-item-footer {
    display: flex;
    margin-top: 8px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}

.project-item-footer .footer-text {
    color: rgba(0,0,0,.45);
    display: inline-block;
    -ms-flex: 1 1;
    flex: 1 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}

.project-item-footer .footer-time {
    color: rgba(0,0,0,.25);
    -ms-flex: 0 0 auto;
}

.panel .table > thead > tr > th{
    font-size: 14px;
    line-height: 1.5;
    padding:8px;
    background: none;
    border-bottom: 1px solid #efefef;
    font-weight: 500;
    color: rgba(0,0,0,.85);
}

.panel .table > tbody > tr > th, .panel .table > tbody > tr > td {
    font-size: 14px;
    line-height: 1.5;
    background: none;
    border-top: 1px solid #efefef;
    padding: 8px;
    color: rgba(0,0,0,.65);
}

.link-group {
    padding: 0 0 8px 24px;
    font-size: 0;
    text-align: left;
}

.link-group > a {
    color: rgba(0,0,0,.65);
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 13px;
    width: 25%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 24px;
    vertical-align: middle;
}

.link-group > a:hover {
    color: #1890ff;
    text-decoration: none;
}

.link-group .btn {
    vertical-align: baseline;
}

.btn.btn-background-ghost {
    background: none;
    border-color: #1890ff;
    color: #1890ff;
}

.btn.btn-sm {
    padding: 0 7px;
    font-size: 14px;
    border-radius: 4px;
    height: 24px;
    line-height: 24px;
}

.event-list .event-list-item {
    padding: 16px 0;
    border-bottom: 1px solid #e8e8e8;
    align-items: flex-start;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1;
    flex: 1 1;
}

.event-list .event-list-item:last-child {
    border-bottom: 0;
}

.event-list .event-list-item .event-list-item-avatar {
    margin-right: 16px;
}

.event-list-item .event-list-item-content {
    -ms-flex: 1 0;
    flex: 1 0;
}

.event-list-item-content .event-list-item-title {
    color: rgba(0,0,0,.65);
    margin-bottom: 4px;
    margin-top: 0;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
}

/*.event-list-item-content .event-list-item-title a {*/
    /*color: #1890ff;*/
/*}*/

.event-list-item-content .event-list-item-title a.username {
    color: rgba(0,0,0,.65);
}

.event-list-item-content .event-time {
    font-size: 14px;
    line-height: 22px;
    color: rgba(0,0,0,.25);
}

.event-list-item-content .event-list-item-title a.item-title {
    font-weight: 300;
    color: #333;
    cursor: pointer;
}

.event-list-item-content .event-list-item-title a.item-title:hover{
    text-decoration: none;
    color: #1890ff;
}

.event-list-item-content .event-item-info .info-item + .info-item{
    margin-left: 12px;
}

.event-list-item-content .event-item-info .info-item.gray {
    color: #999;
}

.event-list-item-content .event-list-item-title a.item-name {
    font-size: 14px;
}

.member-list {
    margin-left: -12px;
    margin-right: -12px;
}

.member-list .member-list-item {
    padding: 12px 24px;
    display: block;
}

.member-list .member-list-item a {
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    align-items: flex-start;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1;
    flex: 1 1;
    height: 24px;
}

.member-list-item .member-avatar {
    display: block;
    margin-right: 16px;
}

.radar-num {
    padding: 20px 0;
}

.radar-num-item {
    position: relative;
    text-align: center;
    cursor: pointer;
    color: rgba(0,0,0,.45);
    line-height: 22px;
}

.radar-num-item + .radar-num-item:before {
    background-color: #e8e8e8;
    position: absolute;
    top: 8px;
    left: 0;
    height: 40px;
    width: 1px;
    content: "";
}

.radar-num-item .item-dot{
    border-radius: 6px;
    display: inline-block;
    margin-right: 6px;
    position: relative;
    top: -1px;
    height: 6px;
    width: 6px;
    background-color: #00a0ba;
}

.radar-num-item .item-title {
    font-family: "Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    font-variant: tabular-nums;
    text-align: center;
    cursor: pointer;
    color: rgba(0,0,0,.45);
    line-height: 22px;
}

.radar-num-item .item-num {
    color: rgba(0,0,0,.85);
    padding-left: 16px;
    font-size: 24px;
    line-height: 32px;
    margin-top: 4px;
    margin-bottom: 0;
    font-weight: 600;
}

table.table {
    /*padding: 0 8px;*/
    /*width: 100%;*/
    /*border-spacing: 0;*/
    text-align: left;
    border-radius: 4px 4px 0 0;
    border-collapse:collapse;
}

.panel-body td a{
    color: #1890ff;
}

.layout-dialog .dialog-panel-body{
    padding:10px 0 10px 16px;
}

.layout-dialog p{
    margin:0 0 1em 0;
    text-align:left;
}

.layout-dialog ul{
    margin:0;
    padding:0;
}

.layout-dialog ul li{
    list-style-type:none;
    margin:0;
    padding:0;
}

.layout-dialog ul li a,
.layout-dialog ul li a:link,
.layout-dialog ul li a:visited{
    border:1px solid #bbb;
    display:block;
    float:left;
    margin:0 1em 1em 0;
    outline:none;
    padding:.35em;
    width:auto;
}

.layout-dialog ul li a:hover,
.layout-dialog ul li a:active,
.layout-dialog ul li a:focus{
    border-color:#666;
}

.layout-dialog ul li a strong{
    background:#fff url('/gitlab/images/sprite-layouts.png') no-repeat 0 0;
    cursor:pointer;
    display:block;
    float:left;
    height:37px;
    text-indent:-9999px;
    width:68px;
}

ul li a#layout-a strong{
    background-position:0 0;
}

ul li a#layout-aa strong{
    background-position:0 -41px;
}

ul li a#layout-ba strong{
    background-position:0 -82px;
}

ul li a#layout-ab strong{
    background-position:0 -123px;
}

ul li a#layout-aaa strong{
    background-position:0 -163px;
}

.layout-a ul li #layout-a strong,
.layout-dialog #layout-a:hover strong,
.layout-dialog #layout-a:active strong,
.layout-dialog #layout-a:focus strong{
    background-position:-72px -1px;
}

.layout-aa ul li #layout-aa strong,
.layout-dialog #layout-aa:hover strong,
.layout-dialog #layout-aa:active strong,
.layout-dialog #layout-aa:focus strong{
    background-position:-72px -41px;
}

.layout-ba #layout-ba strong,
.layout-dialog #layout-ba:hover strong,
.layout-dialog #layout-ba:active strong,
.layout-dialog #layout-ba:focus strong{
    background-position:-72px -82px;
}

.layout-ab #layout-ab strong,
.layout-dialog #layout-ab:hover strong,
.layout-dialog #layout-ab:active strong,
.layout-dialog #layout-ab:focus strong{
    background-position:-72px -122px;
}

.layout-aaa #layout-aaa strong,
.layout-dialog #layout-aaa:hover strong,
.layout-dialog #layout-aaa:active strong,
.layout-dialog #layout-aaa:focus strong{
    background-position:-72px -163px;
}

.layout-a ul li a#layout-a,
.layout-aa ul li a#layout-aa,
.layout-ba ul li a#layout-ba,
.layout-ab ul li a#layout-ab,
.layout-aaa ul li a#layout-aaa{
    background-color:#eee;
    border-color:#666;
}

.modal.home-modal .modal-dialog .modal-content {
    top: 50%;
    transform: translate(0, -50%);
}

.modal.home-modal .modal-dialog .modal-content .modal-body {
    max-height: 400px;
    overflow: auto;
}

header .header-content .sidebar-control{
    display: none;
}

.layout-panel .panel-first,
.layout-panel .panel-second,
.layout-panel .panel-third{
    float: left;
    min-height: 60px;
}

.layout-a .panel-first {
    width: 100%;
}

.layout-aa .panel-first,
.layout-aa .panel-second {
    width: 50%;
}

.layout-ab .panel-first {
    width: 66.66%;
}

.layout-ab .panel-second {
    width: 33.33%;
}

.layout-ba .panel-first {
    width: 33.33%;
}

.layout-ba .panel-second {
    width: 66.66%;
}

.layout-aaa .panel-first,
.layout-aaa .panel-second,
.layout-aaa .panel-third{
    width: 33.33%;
}

.layout-a .panel-second,
.layout-a .panel-third {
    display: none;
}

.layout-aa .panel-third,
.layout-ab .panel-third,
.layout-ba .panel-third {
    display: none;
}

#content-body {
    padding: 20px 10px;
}

.modal .modal-header {
    padding: 8px 15px;
}

.nav-controls {
    width: 100%;
    padding: 15px 20px 0;
    text-align: right;
}

.nav-controls .btn + .btn {
    border-left: 1px solid #ddd;
}

.nav-controls .btn i {
    color: #666;
}

.tools-list {
    display: block;
    padding: 0;
}

.tools-list li {
    padding: 15px 8px;
    border-bottom: 1px solid #eee;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tools-list li .tool-img{
    width: 160px;
    height: 90px;
    content: "";
    overflow: hidden;
    background: #f0f0f0;
}

.tools-list li .tool-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.tools-list li .tool-info {
    flex: 1 1 auto;
    margin-left: 18px;
}

.tools-list li .tool-info h3.tool-title {
    margin: 0;
    padding-top: 2px;
    font-size: 14px;
    line-height: 28px;
    color: #333;
}

.tools-list li .tool-info p.tool-content {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 22px;
    color: #666;
}

.tools-list li .tool-action {
    width: 90px;
    text-align: center;
}

.tools-list li .tool-action span {
    font-size: 12px;
    color: #888;
}

.tools-list li .tool-action a {
    font-size: 12px;
    line-height: 32px;
    color: #333;
    border: 1px solid #ddd;
    padding: 8px 12px;
    border-radius: 2px;
}

.tools-list li .tool-action a:hover {
    text-decoration: none;
    color: #337ab7;
    border: 1px solid #337ab7;
}

.panel-action {
    position: relative;
    cursor: default;
    z-index: 99999;
}

.panel-action i {
    display: inline-block;
    font-size: 16px;
    line-height: 32px;
    cursor: pointer;
    color: #666;
    padding: 0 10px;
}

.panel-action i:hover {
    color: #333;
}

.panel-action ul {
    position: absolute;
    display: none;
    width: 80px;
    right: 0;
    top: 100%;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    font-size: 12px;
    line-height: 25px;
    padding: 10px;
}

.panel-action ul li{
    padding: 0 8px;
    cursor: pointer;
}

.panel-action ul li:hover{
    background: #f0f0f0;
}

.panel-body .form-control{
    max-width: 200px;
}

.panel-body .form-label {
    line-height: 36px;
    padding: 0 5px;
    text-align: right;
    color: #666;
}

.layout-panel {
    overflow: hidden;
}

.layout-panel .group_panel {
    padding-bottom: 3000px !important;
    margin-bottom: -3000px !important;
}

.ghost-body {
    border: 1px dashed #aaa;
    background: #eee url("../img/tool_bg.png") no-repeat center top;
}

.ghost-body.panel-info > .panel-heading,
.ghost-body.panel-info > .panel-body {
    opacity: 0;
}


.move-body {
    /*border: 1px solid #ff0000;*/
}

.panel-body .label {
    padding: .3em .6em;
}




