.container {
    width: 100%;
    margin: auto;
    min-width: 1100px;
    position: relative;
    padding: 10px;
}

.tile_40 {
    width: 40%;
}

.tile_60 {
    width: 60%;
}

.tile__name {
    cursor: move;
    padding-bottom: 10px;
    border-bottom: 1px solid #FF7373;
}

.tile__list {
    margin-top: 10px;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

.g-avatar {
    width: 32px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    border-radius: 50%;
}

.g-avatar img {
    display: block;
    width: 100%;
    height: 100%;
}

.g-avatar-sm {
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.g-avatar-md {
    width: 26px;
    height: 26px;
    line-height: 26px;
}

.g-avatar-lg {
    width: 36px;
    height: 36px;
    line-height: 36px;
}

body.dashboard {
    background-color: #f0f2f5;
}

header.navbar-gitlab {
    height: 64px;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,21,41,.08);
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    position: relative;
}

header .header-content {
    padding-top: 8px;
}

.content-wrapper {
    background-color: #f0f2f5;
    padding-bottom: 0;
}

.content-wrapper .container-fluid {
    background: none;
    padding: 24px 12px;
}

.content-wrapper .container-fluid .container {
    padding: 0;
}

.content-wrapper .content-header {
    width: 100%;
    background-color: #fff;
    padding: 16px 32px 16px;
    border-bottom: 1px solid #e8e8e8;
}

.content-header .breadcrumb{
    font-family: "Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-variant: tabular-nums;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0,0,0,.45);
    background-color: #fff;
    padding: 0;
}

.breadcrumb span + span {
    margin-left: 8px;
}

.breadcrumb .cur{
    color: #333;
}

.content-header .user-profile {
    display: flex;
    width: 100%;
    padding-top: 15px;
}

.content-header .user-profile .user-profile-content {
    display: flex;
    flex: auto;
}

.user-profile-content .user-avatar {
    flex: 0 1 72px;
    margin-bottom: 8px;
}

.user-profile-content .user-avatar img {
    display: block;
    border-radius: 72px;
    width: 72px;
    height: 72px;
}

.user-profile-content .user-profile-text{
    position: relative;
    top: 5px;
    margin-left: 24px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color: rgba(0,0,0,.45);
    line-height: 22px;
}

.user-profile-text .text-title{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: rgba(0,0,0,.85);
    margin-bottom: 12px;
}

.user-profile .user-profile-extra {
    margin-left: 88px;
    text-align: right;
    margin-bottom: 16px;
}

.user-profile-extra .extra-item {
    padding: 0 32px;
    position: relative;
    display: inline-block;
}

.user-profile-extra .extra-item + .extra-item:before {
    background-color: #e8e8e8;
    position: absolute;
    top: 8px;
    left: 0;
    width: 1px;
    height: 40px;
    content: "";
}

.user-profile-extra .extra-item .extra-item-title{
    color: rgba(0,0,0,.45);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 4px;
}

.user-profile-extra .extra-item .extra-item-num{
    color: rgba(0,0,0,.85);
    font-size: 30px;
    line-height: 38px;
    margin: 0;
}

.extra-item-num span {
    color: rgba(0,0,0,.45);
    font-size: 20px;
}

.panel {
    border: none;
    box-shadow: none;
}

.panel-info > .panel-heading {
    padding: 16px 32px !important;
    background-color: transparent;
    border-bottom: 1px solid #e8e8e8;
    line-height: 24px;
    display: flex;
}

.panel-heading .panel-heading-title {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    flex: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(0,0,0,.85);
    font-weight: 500;
}

.panel-heading .panel-heading-extra a:not(.btn){
    color: #1890ff;
    text-decoration: none;
}

.group_panel {
    padding: 0 12px !important;
}

.panel {
    margin-bottom: 24px;
}

.panel .panel-body {
    padding: 12px 24px;
}

.panel .padding-0 {
    padding: 0;
}

.panel-activity .activity-item{
    padding: 24px;
    /*-webkit-box-shadow: 0 0 0 0 #fff, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8, 1px 0 0 0 #e8e8e8 inset, 0 1px 0 0 #e8e8e8 inset;*/
    /*box-shadow: 0 0 0 0 #fff, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8, inset 1px 0 0 0 #e8e8e8, inset 0 1px 0 0 #e8e8e8;*/
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.panel-activity .activity-item.last {
    border-right: 0;
}

.activity-item .author-avatar {
    display: inline-block;
}

.activity-item .author-avatar .list-item-name {
    display: block;
}

.activity-item .author-name {
    color: rgba(0,0,0,.85);
    margin-left: 8px;
    line-height: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-weight: 600;
}

.activity-item .author-name a {
    color: rgba(0,0,0,.85);
}

.activity-item .author-name a:hover {
    color: #1890ff;
    text-decoration: none;
}

.activity-item .activity-item-body {
    color: rgba(0,0,0,.45);
    height: 44px;
    line-height: 22px;
    overflow: hidden;
    margin: 8px 0;
}

.activity-item .activity-item-footer {
    display: flex;
    margin-top: 8px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}

.activity-item-footer .footer-text {
    color: rgba(0,0,0,.45);
    display: inline-block;
    -ms-flex: 1 1;
    flex: 1 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}

.activity-item-footer .footer-time {
    color: rgba(0,0,0,.25);
    -ms-flex: 0 0 auto;
}

.panel .table > thead > tr > th {
    font-size: 14px;
    padding:10px 18px;
    background: none;
    border-bottom: 1px solid #efefef;
    font-weight: 600;
    color: rgba(0,0,0,.85);
}

.panel .table > tbody > tr > th, .panel .table > tbody > tr > td {
    font-size: 12px;
    background: none;
    border-top: 1px solid #f1f1f1;
    padding: 15px 18px;
}

.link-group {
    padding: 0 0 8px 24px;
    font-size: 0;
}

.link-group > a {
    color: rgba(0,0,0,.65);
    display: inline-block;
    font-size: 14px;
    margin-bottom: 13px;
    width: 25%;
}

.btn.btn-background-ghost {
    background: none;
    border-color: #1890ff;
    color: #1890ff;
}

.btn.btn-sm {
    padding: 0 7px;
    font-size: 14px;
    border-radius: 4px;
    height: 24px;
}

.event-list .event-list-item {
    padding: 16px 0;
    border-bottom: 1px solid #e8e8e8;
    align-items: flex-start;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1;
    flex: 1 1;
}

.event-list .event-list-item:last-child {
    border-bottom: 0;
}

.event-list .event-list-item .event-list-item-avatar {
    margin-right: 16px;
}

.event-list-item .event-list-item-content {
    -ms-flex: 1 0;
    flex: 1 0;
}

.event-list-item-content .event-list-item-title {
    color: rgba(0,0,0,.65);
    margin-bottom: 4px;
    margin-top: 0;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
}

.event-list-item-content .event-list-item-title a {
    color: #1890ff;
}

.event-list-item-content .event-list-item-title a.username {
    color: rgba(0,0,0,.65);
}

.event-list-item-content .event-time {
    font-size: 14px;
    line-height: 22px;
    color: rgba(0,0,0,.25);
}

.member-list {
    margin-left: -12px;
    margin-right: -12px;
}

.member-list .member-list-item {
    padding: 12px 24px;
    display: block;
}

.member-list .member-list-item a {
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    align-items: flex-start;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1;
    flex: 1 1;
    height: 24px;
}

.member-list-item .member-avatar {
    display: block;
    margin-right: 16px;
}

.radar-num {
    padding: 20px 0;
}

.radar-num-item {
    position: relative;
    text-align: center;
    cursor: pointer;
    color: rgba(0,0,0,.45);
    line-height: 22px;
}

.radar-num-item + .radar-num-item:before {
    background-color: #e8e8e8;
    position: absolute;
    top: 8px;
    left: 0;
    height: 40px;
    width: 1px;
    content: "";
}

.radar-num-item .item-dot{
    border-radius: 6px;
    display: inline-block;
    margin-right: 6px;
    position: relative;
    top: -1px;
    height: 6px;
    width: 6px;
    background-color: #00a0ba;
}

.radar-num-item .item-title {
    font-family: "Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    font-variant: tabular-nums;
    text-align: center;
    cursor: pointer;
    color: rgba(0,0,0,.45);
    line-height: 22px;
}

.radar-num-item .item-num {
    color: rgba(0,0,0,.85);
    padding-left: 16px;
    font-size: 24px;
    line-height: 32px;
    margin-top: 4px;
    margin-bottom: 0;
    font-weight: 600;
}