.page-layout{
    display: flex;
    flex-direction: column;
    flex: auto;
    background: #f0f2f5;
    min-height: 0;
}

.page-content-body {
    overflow-x: hidden;
    min-height: 100vh;
}

.has-sidebar .content {
    padding: 20px;
}

.has-sidebar .container-limited {
    width: 100%;
    max-width: 100% !important;
}

.has-sidebar .container-fluid {
    padding: 0 24px;
}

.has-sidebar .background-white {
    background: #fff;
}

.has-sidebar .container-fluid.padding-0,
.has-sidebar .content.padding-0{
    padding: 0;
}

.has-sidebar .classification-side {
    width: 280px;
}

.max-sidebar .classification-side {
    left: 210px;
}

.has-sidebar .classification-main {
    margin-left: 280px;
}

.min-sidebar .classification-side {
    left: 80px;
}

.has-sidebar {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    box-sizing: border-box;
    flex: auto;
}

.has-sidebar header .global-dropdown-toggle{
    background: none;
}

.has-sidebar .header-logo {
    display: none !important;
}

.has-sidebar .main-sidebar{
    flex: 0 0 210px;
    width: 210px;
    min-height: 100vh;
    box-shadow: 2px 0 6px rgba(0,21,41,.35);
    position: relative;
    z-index: 999;
    background: #001529;
    transition: all 0.3s;
}

.has-sidebar.min-sidebar .main-sidebar {
    flex: 0 0 80px;
    width: 80px;
}

.main-logo{
    height: 64px;
    position: relative;
    line-height: 64px;
    padding-left: 24px;
    transition: all .3s;
    background: #002140;
    overflow: hidden;
}

.main-logo svg {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
}

.main-logo h1{
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin: 0 0 0 12px;
    font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
    font-weight: 600;
}

.main-sidebar .sidebar-menu {
    padding: 16px 0px;
    width: 100%;
    color: hsla(0,0%,100%,.65);
    background: #001529;
}

.main-sidebar .sidebar-menu > li.menu-item{
    padding-bottom: .01px;
    cursor: pointer;
    transition: border-color .3s cubic-bezier(.645,.045,.355,1),background .3s cubic-bezier(.645,.045,.355,1),padding .15s cubic-bezier(.645,.045,.355,1);
}

.main-sidebar .sidebar-menu > li.menu-item.menu-open {
    background-color: transparent;
    color: #fff;
}

.main-sidebar a {
    text-decoration: none;
}

.main-sidebar .sidebar-menu > li.menu-item > a {
    width: 100%;
    height: 40px;
    display: block;
    line-height: 40px;
    padding: 0 10px 0 24px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: hsla(0,0%,100%,.65);
    background: #001529;
}

.main-sidebar .sidebar-menu > li.menu-item.menu-open a{
    color: #fff;
}

.sidebar-menu > li.menu-item.menu-open a .pull-right-container i {
    transform: rotate(-180deg);
}

.has-sidebar.min-sidebar .main-sidebar .sidebar-menu > li.menu-item > a{
    left: 0;
    text-overflow: clip;
    padding: 4px 32px!important;
    height: 48px;
}

.has-sidebar.min-sidebar .main-sidebar .sidebar-menu  > li.menu-item > a > i {
    font-size: 16px;
    line-height: 40px;
    margin: 0;
}

.has-sidebar.min-sidebar .main-sidebar .sidebar-menu a span{
    opacity: 0;
}

.main-sidebar .sidebar-menu > li.menu-item > a i{
    min-width: 14px;
    margin-right: 8px;
    font-size: 14px;
    line-height: 40px;
}

.main-sidebar .sidebar-menu > li.menu-item > a span > i {
    font-weight: bold;
    transition: all 0.3s;
}

.main-sidebar .sidebar-menu > li.menu-item > a > span {
    transition: opacity .3s cubic-bezier(.645,.045,.355,1),width .3s cubic-bezier(.645,.045,.355,1);
    line-height: 40px;
}

.main-sidebar .sidebar-menu > li.menu-item > a:hover,
.main-sidebar .sidebar-menu > li.menu-item.menu-open > a {
    color: #fff;
}

.sidebar-menu .sub-menu {
    width: 100%;
    background: #000c17;
    box-shadow: inset 0 2px 8px rgba(0,0,0,.45);
    color: hsla(0,0%,100%,.65);
    padding: 0;
    border: 0;
    border-radius: 0;
    cursor: auto;
    display: none;
}

.sidebar-menu .sub-menu > li {
    line-height: 40px;
    height: 40px;
    list-style-type: disc;
    list-style-position: inside;
    border-right: 0;
    margin-left: 0;
    left: 0;
    padding: 0 16px 0 0;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
    display: block;
    white-space: nowrap;
    margin-top: 4px;
    margin-bottom: 4px;
}

.sidebar-menu .sub-menu > li > a {
    line-height: 40px;
    height: 40px;
    list-style-type: disc;
    list-style-position: inside;
    touch-action: manipulation;
    color: #fff;
    padding-left: 50px;
    display: block;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color .3s;
    color: hsla(0,0%,100%,.65);
}

.min-sidebar .sidebar-menu > li {
    position: relative;
}

.min-sidebar .sidebar-menu .sub-menu {
    position: absolute;
    width: 0;
    left: 100%;
    top: 0;
    margin-left: 8px;
    display: block;
    background: #001529;
    border-radius: 6px;
    box-shadow: 2px 0 6px rgba(0,21,41,.35);
    transition: all 0.3s;
    overflow: hidden;
}

.min-sidebar .sidebar-menu > li:hover .sub-menu {
    width: 150px;
}

.min-sidebar .sidebar-menu .sub-menu > li > a {
    padding-left: 0;
    text-align: center;
}

.has-sidebar .sidebar-menu .sub-menu > li > a:hover {
    color: #fff;
}

.has-sidebar .system-page .content{
    position: relative;
    padding: 0;
}

.has-sidebar .system-page .left-sidebar {
    left: 0;
    top: 0;
}



