.not-found{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 16px 0
}
.not-found.vertical > .inner {
	display: block;
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
.not-found.vertical > .inner .text > .type{
	padding: 0;
}
.not-found > .inner {
	display: flex;
}
.not-found > .inner .text {
	flex: 1;
}
.not-found > .inner .img{
	order: 2;
}
.not-found > .inner .text{
	order: 1;
}
.not-found > .inner .text > .type {
	font-size: 66px;
	font-weight: bolder;
	color: #bcc1cc;
	padding: 50px 0 0;
	font-family: Consolas Arial;
}
.not-found > .inner .text > .info {
	font-size: 24px;
	padding: 20px 0 0;
}
.not-found > .inner .text > .detail {
	font-size: 14px;
	padding: 0 0 20px;
	color: #bbb;
}
.logo{
	fill: currentColor;
	vertical-align: -0.15em;
	width: 1em;
	height: 1em;
}