# Masterlab主配置文件
app_url: ''
version: '3.0rc13'
error_reporting: 'E_ERROR'
xdebug: false
trace: false
write_request_log: false
security_map: false
date_default_timezone: 'Asia/Shanghai'
encrypy_key: '{{encrypy_key}}'

xhprof:
  enable: false
  rate: 1

cache:
  enable: {{cache_enable}}
  expire: 864000
  gc_rate: 10
  server:
    - ['{{redis_host}}', '{{redis_port}}', '{{redis_password}}']

session:
  handle: file
  cache_expire: 86400
  gc_maxlifetime: 864000
  cookie_lifetime: 864000
  gc_probability: 1
  gc_divisor: 100
  no_session_cmd:
    - '/version/gets'

database:
  default:
    host: '{{db_host}}'
    port: '{{db_port}}'
    user: '{{db_user}}'
    password: '{{db_password}}'
    db_name: '{{db_name}}'
    charset: 'utf8'
    timeout: 10
    show_field_info: false
  log_db:
    host: 'localhost'
    port: 3306
    user: 'root'
    password: ''
    db_name: 'masterlab_log'
    charset: 'utf8'
    timeout: 10
    show_field_info: false

config_map_model:
    default:
      -
    log_db:
      - UnitTestUnitModel

socket:
  host: '{{socket_host}}'
  port: '{{socket_port}}'
  port_websocket: 9003

schedule:
  -
    name: 'ProjectStat'
    exe_bin: '{{php_exe}}'
    exp: '0 */30 * * * ?'
    file: '{{root_path}}app/server/timer/project.php'
    arg: '-f'
  -
    name: 'ProjectReport'
    exe_bin: '{{php_exe}}'
    exp: '0 58 23 * * ?'
    file: '{{root_path}}app/server/timer/projectDayReport.php'
    arg: '-f'
  -
    name: 'SprintReport'
    exe_bin: '{{php_exe}}'
    exp: '0 59 23 * * ?'
    file: '{{root_path}}app/server/timer/sprintDayReport.php'
    arg: '-f'