
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; envionment variables list
; 线上部署、测试环境、开发环境的相关配置
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; 项目状态:deploy | development | travis | test
APP_STATUS = deploy

; 是否缓存 config.yml 文件的读取
CACHE_YAML = 0