
{% if (is_in_same_team) %}
    <ul class="nav-links center user-profile-nav scrolling-tabs">
        <li class="js-activity-tab   {% if (profile_nav == 'activity') %} <?= 'active' ?>{% endif %}">
            <a href="/user/profile/<?= user_id?>"><i class="fa fa-calculator" ></i> 活动日志</a>
        </li>
        {% if (is_current_user) %}
        <li class="js-projects-tab  {% if (profile_nav == 'have_join_projects') %} <?= 'active' ?>{% endif %}">
            <a  href="/user/have_join_projects/<?= user_id?>"><i class="fa fa-product-hunt" ></i> 参与项目</a>
        </li>
        <li class="js-projects-tab  {% if (profile_nav == 'followed_issues') %} <?= 'active' ?>{% endif %}">
            <a  href="/user/followed_issues/<?= user_id?>"><i class="fa fa-eye" ></i> 关注的事项</a>
        </li>
        <li class="js-groups-tab  {% if (profile_nav == 'msg_system') %} <?= 'active' ?>{% endif %}">
            <a href="/user/msg_system/<?= user_id?>"><i class="fa fa-envelope-o" ></i> 系统消息</a>
        </li>
        <li class="js-groups-tab  {% if (profile_nav == 'log_operation') %} <?= 'active' ?>{% endif %}">
            <a href="/user/log_operation/<?= user_id?>"><i class="fa fa-history" ></i> 操作记录</a>
        </li>
        {% endif %}
    </ul>
{% endif %}