
<div class="scrolling-tabs-container sub-nav-scroll">
    <div class="fade-left">
        <i class="fa fa-angle-left"></i>
    </div>
    <div class="fade-right">
        <i class="fa fa-angle-right"></i>
    </div>

    <div class="nav-links sub-nav scrolling-tabs is-initialized">
        <ul class="container-fluid">
            <li class=" {% if (sub_nav_active == 'basic_info') %} <?= 'active' ?>{% endif %}">
                <a title="General" href="<?= project_root_url?>/settings_profile">
                    <span>项目信息</span>
                </a>
            </li>
            <li class=" {% if (sub_nav_active == 'issue_setting') %} <?= 'active' ?>{% endif %}">
                <a title="事项设置" href="<?= project_root_url?>/setting_issue">
                    <span>事项设置</span>
                </a>
            </li>
            <li class=" {% if (sub_nav_active == 'issue_type') %} <?= 'active' ?>{% endif %}">
                <a title="事项类型" href="<?= project_root_url?>/settings_issue_type">
                    <span>事项类型</span>
                </a>
            </li>
            <li class=" {% if (sub_nav_active == 'display_field') %} <?= 'active' ?>{% endif %}">
                <a title="事项表格视图的显示字段" href="<?= project_root_url?>/settings_display_field">
                    <span>表格字段</span>
                </a>
            </li>
            <li class=" {% if (sub_nav_active == 'filter') %} <?= 'active' ?>{% endif %}">
                <a title="项目的全局过滤器" href="<?= project_root_url?>/settings_filter">
                    <span>项目过滤器</span>
                </a>
            </li>
            <li class=" {% if (sub_nav_active == 'sprint') %} <?= 'active' ?>{% endif %}">
                <a title="迭 代" href="<?= project_root_url?>/settings_sprint">
                    <span>迭 代</span>
                </a>
            </li>
            <li class=" {% if (sub_nav_active == 'version') %} <?= 'active' ?>{% endif %}">
                <a title="版 本" href="<?= project_root_url?>/settings_version">
                    <span>版 本</span>
                </a>
            </li>
            <li class=" {% if (sub_nav_active == 'module') %} <?= 'active' ?>{% endif %}">
                <a title="模 块" href="<?= project_root_url?>/settings_module">
                    <span>模 块</span>
                </a>
            </li>
            <li class=" {% if (sub_nav_active == 'label') %} <?= 'active' ?>{% endif %}">
                <a title="标 签" href="<?= project_root_url?>/settings_label">
                    <span>标 签</span>
                </a>
            </li>
            <li class=" {% if (sub_nav_active == 'catalog') %} <?= 'active' ?>{% endif %}">
                <a title="分 类" href="<?= project_root_url?>/settings_catalog">
                    <span>分 类</span>
                </a>
            </li>

            <li class=" {% if (sub_nav_active == 'project_member') %} <?= 'active' ?>{% endif %}">
                <a title="项目成员" href="<?= project_root_url?>/settings_project_member"><span>项目成员</span>
                </a>
            </li>
            <li class=" {% if (sub_nav_active == 'project_role') %} <?= 'active' ?>{% endif %}">
                <a title="项目角色" href="<?= project_root_url?>/settings_project_role"><span>项目角色</span>
                </a>
            </li>
        </ul>
    </div>
</div>
