{% if (project_id is defined and project_id is not empty) %}


    <div class="layout-nav">
        <div class="container-fluid">
            <div class="nav-control scrolling-tabs-container">
                <div class="fade-left">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="fade-right">
                    <i class="fa fa-angle-right"></i>
                </div>
                <style>
                    .project-nav-links-fix {
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                    }
                </style>
                <ul class="nav-links scrolling-tabs project-nav-links-fix">

                    <li class=" {% if (nav_links_active == 'home') %} <?= 'active' ?>{% endif %}">
                        <a title="Home" class="shortcuts-project" href="<?=project_root_url?>/home"><img style="width:16px;height: 16px" src="/attachment/plugin/index.png" /> <span> 项目概要 </span> </a>
                    </li>
             
                    {% for plugin in _pluginArr %}
                        {% if plugin.type == _plugin_project_default %}

                            <li class=" {% if (nav_links_active == plugin.name) %} <?= 'active' ?>{% endif %}">
                                <a title="Issues" class="shortcuts-issues" href="<?=project_root_url?>/<?=plugin.name?>">
                                    <img style="width:16px;height: 16px" src="/attachment/plugin/<?=plugin.name?>.png" /> <!--<i class="fa fa-tasks"></i>--><span> <?=plugin.title?> </a>
                            </li>
                        {% endif %}
                        {% if plugin.type == _plugin_project_type and plugin.is_display=='1' %}
                            <li class=" {% if (nav_links_active == plugin.name) %} <?= 'active' ?>{% endif %}">
                                <a title=" " href="<?=project_root_url?>/plugin/<?=plugin.name?>"><img style="width:16px;height: 16px" src="<?=plugin.icon_file?>" /> <span><?=plugin.title?></span>
                                </a>
                            </li>
                        {% endif %}

                    {% endfor %}
                    <li class=" {% if (nav_links_active == 'setting') %} <?= 'active' ?>{% endif %}">
                        <a title="可设置项目的描述,迭代,版本,团队成员和角色等信息" class="shortcuts-pipelines" href="<?=project_root_url?>/settings"><img style="width:16px;height: 16px" src="/attachment/plugin/setting.png" /> <!--<i class="fa fa-cogs"></i>--><span> 设 置 </span> </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
{% endif %}



