
{% if ( left_nav_active is not defined ) %}
    {% set left_nav_active = '' %}
{% endif %}
{% if ( sub_nav_active is not defined ) %}
    {% set sub_nav_active = '' %}
{% endif %}



<aside aria-live="polite" class="js-right-sidebar left-sidebar right-sidebar-expanded affix-top"
       data-spy="affix" tabindex="0"  >
    <div class="issuable-sidebar">

        <div class="admin-menu-links">
            <div class="aui-nav-heading   {% if (sub_nav_active == 'setting') %} {{ 'active' }}{% endif %}"><strong>项目</strong></div>
            <ul class="aui-nav" resolved="">
                <li class=" {% if (left_nav_active == 'list') %} {{ 'active' }}{% endif %}"><a href="/admin/project/_list" id="general_configuration">项目列表</a>
                </li>
                <li class=" {% if (left_nav_active == 'category') %} {{ 'active' }}{% endif %}">
                    <a href="/admin/project/category" id="system_info">项目类别</a>
                </li>
            </ul>
            <hr>
        </div>
    </div>
</aside>