
{% if ( left_nav_active is not defined ) %}
    {% set left_nav_active = '' %}
{% endif %}
{% if ( sub_nav_active is not defined ) %}
    {% set sub_nav_active = '' %}
{% endif %}



<aside aria-live="polite" class="js-right-sidebar left-sidebar right-sidebar-expanded affix-top"
       data-spy="affix" tabindex="0"  >
    <div class="issuable-sidebar">

        <div class="admin-menu-links">
            <div class="admin_left_header aui-nav-heading   {% if (sub_nav_active == 'setting') %} {{ 'active' }}{% endif %}"><strong>用户管理</strong></div>
            <ul class="aui-nav" resolved="">
                <li class=" {% if (left_nav_active == 'user') %} {{ 'active' }}{% endif %}"><a href="/admin/user" id="general_configuration">用户</a>
                </li>
                <li class=" {% if (left_nav_active == 'group') %} {{ 'active' }}{% endif %}"><a href="/admin/group" id="find_more_admin_tools">用户组</a>
                </li>

            </ul>

        </div>
    </div>
</aside>