<!DOCTYPE html>
<html class="" lang="en">
<head  >

    {% include 'twig/common/header/include.twig' %}
    <script src="/dev/js/admin/setting2.js?v={{_version}}" type="text/javascript" charset="utf-8"></script>
    <script src="/dev/lib/handlebars-v4.0.10.js" type="text/javascript" charset="utf-8"></script>
    <script src="/dev/js/handlebars.helper.js?v={{_version}}" type="text/javascript" charset="utf-8"></script>

</head>
<body class="" data-group="" data-page="projects:issues:index" data-project="xphp">
{% include 'twig/common/body/script.twig' %}

<section class="has-sidebar page-layout max-sidebar">
    {% include 'twig/common/body/page-left.twig' %}
    <div class="page-layout page-content-body system-page">
{% include 'twig/common/body/header-content.twig' %}

<script>
    var findFileURL = "";
</script>
<div class="page-with-sidebar">

    {% include 'twig/admin/common-page-nav-admin.twig' %}

    <div class="content-wrapper page-with-layout-nav page-with-sub-nav">
        <div class="alert-wrapper">

            <div class="flash-container flash-container-page">
            </div>

        </div>
        <div class="container-fluid">

            <div class="content" id="content-body">

                {% include 'twig/admin/common_system_left_nav.twig' %}
                <div class="row has-side-margin-left">
                    <div class="col-lg-12">
                        <div class="top-area">
                            <ul class="nav-links">
                                <li class="active">
                                    <a href="#">附件</a>
                                </li>
                                <li>
                                    <span class="hint">为了用户能够上传附件，确保其在该项目中有、添加附件、权限。</span>
                                </li>
                            </ul>
                            <div class="nav-controls">
                                <div class="btn-group" role="group">
                                    <a class="hidden-xs hidden-sm btn btn-grouped btn-setting_edit"
                                       data-target="#modal-setting"
                                       data-toggle="modal" href="#modal-setting">
                                        <i class="fa fa-edit"></i> 修改
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="content-list">
                            <div class="table-holder">
                            <table class="table">
                                <tbody id="tbody_id">

                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

    </div>
</section>

{% include 'twig/admin/common-setting-content.twig' %}
{% include 'twig/admin/common-setting-form.twig' %}
<script type="text/javascript">

    var setting_module = 'attachment';
    var options = {
        fetch_url:"/admin/system/setting_fetch",
        list_render_id:"tbody_id",
        list_tpl_id:"setting_content_tpl",
        form_tpl:"setting_form_tpl",
        form_render_id:"form_id",
        update_url:"/admin/system/basic_setting_update",
    };
    var $setting = null;
    $(function() {
        $setting = new SettingV2(setting_module,  options);
    });

</script>



</body>
</html>