#content-body .float-right-side {
     display: none;
     width: 50%;
     position: absolute;
     top: 0;
     right: 0;
     background: #fff;
     box-shadow: -1px 0 8px rgba(0, 0, 0, 0.5), 0 -1px 4px rgba(0, 0, 0, 0.3);
     padding: 0 20px 20px;
     overflow: auto;
     height: 93.5%;
     animation-name: fade-in;
     animation-duration: 0.75s;
     min-height: 860px;
     z-index: 10;
 }

.float-right-side .row {
    clear: both;
    margin-left: 0;
    margin-right: 0;
}

.float-right-side .detail-part .row {
    margin-bottom: 16px;
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.float-right-side .content-block {
    border-bottom: unset;
}

.float-right-side .issuable-header {
    width: 100%;
    margin-bottom: 8px;
}

.float-right-side .issue-detail {
    margin-top: 15px;
}

.float-right-side .issue-detail .issue-detail-title{
    font-size: 14px;
    line-height: 32px;
    border-bottom: 1px solid #e8e8e8;
}

.help-btn{
    position:fixed;
    bottom:10px;
    width:42px;
    height:42px;
    font-size:42px;
    cursor:pointer;
    color:#1f78d1;
    right:15px;
}
.help-btn>i{
    vertical-align:top;
}