html, body{
    height: 100%;
}

.issue-modal-dialog {
    display:-webkit-flex;
    display:flex;
    -webkit-flex-flow:column;
    flex-flow:column;
}

.modal, .modal > .issue-form, .issue-modal-dialog, .issue-modal-dialog .modal-content{
    height: 100%;
    box-sizing: border-box;
}

.modal > .issue-form {
    padding: 10px 0;
}

.modal-dialog {
    margin: 0 auto;
}

@media (min-width: 768px){
    .modal > .issue-form {
        padding: 30px 0;
    }
}

.modal-content {
    display:-webkit-flex;
    display:flex;
    -webkit-flex-flow:column;
    flex-flow:column;
}

.modal-content .modal-body {
    flex: 1 auto;
    overflow: auto;
}

.modal-content .modal-footer {
    margin: 0;
}

.issue-modal-content {
    /*overflow-y: scroll; */
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.issue-modal-body {
    overflow-y: scroll;
    position: absolute;
    top: 15px;
    bottom: 50px;
    width: 100%;
}

.issue-modal-header .close {
    margin-right: 15px;
}

.tab-pane{
    margin-top: 20px;
}

.float-left{
    float:left;
}

.modal .qq-gallery .qq-upload-list li{
    height:150px;
    margin-bottom:10px;
}

.modal .qq-gallery.qq-uploader{
    padding-top:10px;
    padding-bottom:0;
}

.modal .qq-gallery .qq-file-info{
    padding-top:5px;
}

.modal .qq-gallery .qq-thumbnail-wrapper{
    height:95px;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 250px;
}

.bootstrap-select > .dropdown-toggle {
    height: 34px;
    overflow: hidden;
}

.bootstrap-select .bs-caret {
    position: absolute;
    height: 34px;
    right: 8px;
    top: 8px;
}

.btn-group.open .dropdown-toggle, .btn-group.open .dropdown-menu-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.open>.btn-default.dropdown-toggle, .open>.btn-default.dropdown-menu-toggle {
    background: none;
}

/*.modal .modal-body{*/
    /*overflow:scroll;*/
    /*max-height:800px;*/
    /*position:absolute;*/
    /*width:100%;*/
/*}*/

/*.modal .modal-content{*/
    /*position:absolute;*/
    /*top:0;*/
    /*bottom:0;*/
    /*width:100%;*/
/*}*/

/*#modal-choose_parent .modal-dialog,#modal-join_sprint .modal-dialog,#modal-children_list .modal-dialog{*/
    /*position:absolute;*/
    /*top:0;*/
    /*left:0;*/
    /*right:0;*/
    /*bottom:37%;*/
/*}*/

/*#modal-choose_parent .modal-body,#modal-join_sprint .modal-body{!*可能有问题*!*/
    /*height:76%;*/
    /*max-height:unset;*/
/*}*/

/*.modal-footer .btn.btn-save{*/
    /*min-height:33px;*/
/*}*/