body.unmask {
    overflow: hidden;
    height: 971px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        right: -100%;
    }
    50% {
        opacity: 0;
        right: -50%;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
        right: -100%;
    }
    50% {
        opacity: 0;
        right: -50%;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}

#content-body > .container-fluid {
    position: relative;
}



.float-right {
    float: right;
}

.float-left {
    line-height: 2px;
    margin-right: 2px;
}

.font-bloder {
    font-weight: 800;
}

.list-settings {
    position: relative;
}

.list-settings .dropdown-menu {
    top: 100%;
    position: absolute;
    box-shadow: unset;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 8px 10px;
    z-index: 3;
    min-width: unset;
    left: auto;
    width: auto;
}

.list-settings .dropdown-menu.action-list {
    left: 0;
}

.list-settings .dropdown-menu.settings-list {
    right: 0;
}

.list-settings .dropdown-menu li {
    width: 100%;
    padding: 0 40px;
    padding-left:20px;
    text-align: left;
    color: #666;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    line-height: 32px;
    box-sizing: border-box;
    white-space: nowrap;
}

.list-settings .dropdown-menu li.active,
.list-settings .dropdown-menu li:hover {
    background: #f6fafd;
    color: #333;
}

.list-settings .dropdown-menu li.active:before {
    content: "";
    background: url("../../../dev/img/check.png") center no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    right:13px;
}


#list_render_id tr.active {
    background: #ebf2f9;
}

.maskLayer {
    z-index: 5;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
}

.td-block {
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
}

table tbody tr.pop_subtack td {
    min-height: 100px;
    font-size: 10px;
    padding: 10px 25px;
    padding-top: 15px;
    vertical-align: top;
}

table tbody tr.pop_subtack td p:first-child {
    font-weight: 700;
}

table tbody tr.pop_subtack {
    animation-name: fade-in;
    animation-duration: 0.5s;
}

table tbody tr.pop_subtack p{
    margin:0 0 5px;
}

table tbody tr td.width_2_0 {
    width: 2%;
}

table tbody tr td.width_3_0 {
    width: 3%;
}

table tbody tr td.width_35 {
    width: 34.4%;
}

table tbody tr td.width_3_6 {
    width: 3.6%;
}

table tbody tr td.width_4 {
    width: 4%;
}

table tbody tr td.width_5 {
    width: 5%;
}

table tbody tr td.width_6 {
    width: 6%;
}

table tbody tr td.width_6_1 {
    width: 6.1%;
}

table tbody tr td.width_7 {
    width: 7%;
}

table tbody tr td.width_7_2 {
    width: 7.2%;
}

table tbody tr td.width_7_9 {
    width: 7.9%;
}

.modal-body table tr td {
    padding: 0px 16px;
}

.camper-helper__bubble{
    -webkit-animation:rotate in 0.3s both;
    -moz-animation:rotate in 0.3s both;
    animation:rotate-in 0.3s both;
    -webkit-animation-delay:2s;
    -moz-animation-delay:1.33s;
    animation-delay:2s;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:#1AAA6B;
    color:#fff;
    box-shadow:0 1px 3px rgba(0,0,0,0.25);
    border-radius:100%;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:antialiased;
}

.camper-helper__bubble:after{
    -webkit-transform:rotate(12deg);
    -moz-transform:rotate(12deg);
    -ms-transform:rotate(12deg);
    transform:rotate(12deg);
    content:'';
    position:absolute;
    bottom:-2.25em;
    left:50%;
    margin-left:-1.5rem;
    width:0;
    height:0;
    border:1.6rem solid #1AAA6B;
    border-right-color:rgba(255,255,255,0);
    border-bottom-color:rgba(255,255,255,0);
    z-index:6;
}

.camper-helper_bubble-content{
    position:absolute;
    top:2em;
    right:1.5rem;
    bottom:1.5rem;
    left:1.5rem;
    -webkit-justify-content:center;
    -moz-justify-content:center;
    justify-content:center;
    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    -webkit-box-orient:vertical;
    box-orient:vertical;
}

.camper-helper{
    transition:all 0.3s ease;
    position:fixed;
    left:-1rem;
    width:15rem;
    height:0;
    padding:15rem 0 0;
    z-index:9;
    bottom:7rem;
}

.camper-helper__nerd{
    position:absolute;;
    top:105%;
    left:17%;
}

.camper-helper__buttons{
    padding:0.5em 1rem 0;
}

.flush--bottom{
    margin-bottom:0;
}

.push_half--top{
    margin-top:0.625em;
    color:#fff;
}

.camper-helper h5{
    font-size:1.5rem;
}

.btn--full-width{
    display: block;
    width:100%;
    padding:4px 10px;
}

.btn--reversed{
    background: #fff;
    border-color:rgba(255,255,255,0);
    color:#283c46;
}

.btn{
    /* border-radius:1.5em;*/
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    white-space: normal;
    cursor:pointer;
}

.camper-helper__buttons>a{
    margin-top:0.7rem;
}

.camper-helper__buttons>.btn:hover, .camper-helper__buttons>.btn:focus{
    background: inherit;
    border-color:inherit;
    color:inherit;
}

.camper-helper__buttons>.btn:first-child:hover{
    background: #fff;
    color:black;
}

.btn--semi-transparent{
    background:rgba(0,0,0,0.15);
    border-color:rgba(255,255,255,0);
    color:#fff;
}

.small-tips{
    background: #F9F7E8;
    padding:10px 60px;
}

.block-bg{
    background: #1AAA6B;
    padding:10px 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#tips_panel .card{
    padding:0;
}

#tips_panel h4{
    color:#fff;
}

#tips_panel .card-body{
    padding:10px 20px 20px;
    min-height:800px;
}

.tips_arrow_bottom{
    position:absolute;
    top:60px;
    left:10%;
}

#tips_panel .modal-dialog{
    margin-top:50px;
}

.close-detail-tips{
    background:rgba(0,0,0,0.15);
    float:right;
    margin-top:-38px;
    color:#fff;
    border-color:transparent;
}

.CodeMirror, .CodeMirror-scroll {
    min-height: 100px;
    /*max-height: 200px;*/
}

.description-view {
    padding: 0;
    margin-bottom: 8px;
}

.status-select {
    position: relative;
}

.status-select .status-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9;
    margin-top: 2px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 160px;
    min-width: 140px;
}

.status-select .status-list li {
    line-height: 30px;
    padding: 0 20px;
    border-radius: 2px;
    cursor: pointer;
}

.status-select .status-list li:hover{
    background: #f6fafd;
}






.resolve-select {
    position: relative;
    -moz-user-select:none; /*火狐*/
    -webkit-user-select:none; /*webkit浏览器*/
    -ms-user-select:none; /*IE10*/
    user-select:none;
}

.resolve-select .resolve-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9;
    margin-top: 2px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 160px;
    min-width: 140px;
}

.resolve-select .resolve-list li {
    line-height: 30px;
    padding: 0 20px;
    border-radius: 2px;
    cursor: pointer;
}

.resolve-select .resolve-list li:hover{
    background: #f6fafd;
}

.list-settings {
    display: inline-block;
    margin-right: 1px;
}

.list-settings .dropdown-toggle {
    padding: 6px 8px;
}

.status_badge {
    color: #fff;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 10px;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
}

.responsive_title{
    color:#6b84ff; font-size: 14px;font-weight: 600
}
