.highlight {
  position: relative;
  background-color: #F6F8FA;
  padding: 16px;
  border-radius: 4px;
  overflow: auto;
  width: 100%;
}
#btn-copy {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 72px;
  background-color: #EBEEF5;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #666;
  text-align: center;
  border: none;
  font-size: 12px;
}
#btn-copy:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.headroom {
  transition: transform 0.25s ease-in-out;
  will-change: transform;
}
.headroom.animated.slideDown {
  transform: translateY(0);
}
.headroom.animated.headroom.slideUp {
  transform: translateY(-100%);
}
.headroom--pinned {
  transform: translateY(0);
}
.headroom--unpinned {
  transform: translateY(-100%);
}
h1 {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}
h2,
h3,
h4 {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
}
.img-landscape {
  margin: 0 0 0 -20px;
}
.main-info {
  font-size: 20px;
  line-height: 36px;
  font-weight: 300;
  margin: 0;
}
section {
  padding: 88px 0 100px;
}
.intro,
.comments,
.blogs {
  background: #F8FAFE;
  min-height: 525px;
  overflow: hidden;
}
.slick-track:focus {
  outline: none!important;
}
.slick-initialized .slick-slide:focus {
  outline: none!important;
}
.highlight {
  margin-top: 16px!important;
}
.get-started .pt-32 {
  margin-top: 32px;
}
.get-started h2 {
  margin-top: 16px;
  font-size: 30px;
}
.get-started .highlight {
  position: relative;
  padding: 16px;
  padding-bottom: 0px;
  padding-left: 24px;
  border-radius: 4px;
  overflow: auto;
  max-width: 895px;
  margin: 0 auto;
  margin-top: 24px;
  text-align: left;
  line-height: 2;
}
.get-started .more-tutorial {
  margin-top: 64px;
}
.get-started .rect-dec {
  width: 35px;
  height: 5px;
  border-radius: 5px;
  background: #1890FF;
}
.features {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#544ff9+0,7351f4+26,874bff+100 */
  background: #544ff9;
  /* Old browsers */
  background: -moz-linear-gradient(left, #544ff9 0%, #7351f4 26%, #874bff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #544ff9 0%, #7351f4 26%, #874bff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #544ff9 0%, #7351f4 26%, #874bff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#544ff9', endColorstr='#874bff', GradientType=1);
  /* IE6-9 */
  color: #C3D1FF;
  padding-top: 90px;
  padding-bottom: 156px;
}
.features h5 {
  color: white;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 400;
}
.features img {
  width: 96px;
  margin: 32px;
}
.features .detail {
  display: inline-block;
  max-width: 240px;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
}
.intro .slick {
  user-select: none;
  outline: none;
  padding-left: 20px;
}
.intro .slick-list {
  padding: 8px;
}
.intro .header {
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 30px;
}
.intro .header .col-md-4 {
  padding: 92px 0 32px 32px;
}
.intro h1 {
  margin: 48px 0;
  font-size: 46px;
}
.intro p {
  margin-bottom: 0;
  font-size: 16px;
}
.intro .btn {
  border: 1px #1890FF solid !important;
  margin-top: 48px;
  margin-right: 12px;
}
.card {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  color: #868e96;
  display: inline-block;
  text-decoration: none;
  max-width: 200px;
  height: 200px;
  border: none;
  padding: 32px;
  box-shadow: 0 2px 2px rgba(84, 48, 132, 0.06);
  margin: 0 auto;
}
.card h3 {
  font-size: 30px;
}
.card img {
  height: 50px;
  margin: 20px 0;
}
.card.member-card {
  border: none;
  box-shadow: none;
  height: 245px;
}
.card.member-card img {
  height: 100px;
  width: 100px;
  margin: 0;
}
.card.member-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.card.full-size {
  padding: 0;
  height: 244px;
}
.card.full-size .card-over {
  opacity: 0;
  height: 244px;
  position: absolute;
  top: 0;
  bottom: 30px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 20px;
  font-size: 13px;
  line-height: 2;
  text-decoration: none;
  color: #888;
  background: #fff;
  background: rgba(255, 255, 255, 0.96);
  overflow: hidden;
  box-sizing: border-box;
}
.card.full-size:hover .card-over {
  opacity: 1;
  -webkit-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  -ms-transition: opacity 250ms ease;
  -o-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
.card.full-size img {
  margin: 0;
  height: auto;
}
.card .description {
  line-height: 26px;
}
.card:hover {
  text-decoration: none;
  -webkit-transform: translateY(-12px);
  -ms-transform: translateY(-12px);
  transform: translateY(-12px);
  box-shadow: 0 12px 24px rgba(84, 48, 132, 0.06);
}
.description {
  padding: 112px 0 146px;
}
.description .info-content {
  max-width: 900px;
  line-height: 48px;
  margin: 0 auto;
}
.description .main-info {
  line-height: 48px;
}
section h2 {
  margin-bottom: 30px;
}
section .separator {
  margin-bottom: 65px;
  display: inline-block;
  width: 30px;
  height: 5px;
  background: #1890FF;
  border-radius: 2.5px;
}
.users {
  padding: 126px 0;
}
.users .logo {
  margin-top: 32px;
}
.comments {
  padding: 131px 0 100px;
}
.comments h4 {
  font-size: 30px;
  margin-bottom: 16px;
  margin-top: 32px;
}
.comments .slick-dots {
  position: static;
}
.comments .avatar {
  margin: 0 auto 26px;
  width: 88px;
  height: 88px;
  border-radius: 50%;
}
.comments .detail {
  max-width: 756px;
  margin: 0 auto;
}
.comments .author-title {
  font-size: 14px;
  color: #888;
  font-weight: 300;
}
.comments .leftpad {
  width: 64px;
  display: inline-block;
}
.intro .github-btn.btn {
  padding: 5px 0;
  border: none !important;
  border-radius: 0;
}
.intro .github-btn.btn:hover {
  box-shadow: none;
}
.scancode-wrapper {
  display: none;
  padding-top: 9px;
  width: 160px;
  height: 160px;
}
.scancode-wrapper .scancode-content {
  position: relative;
}
.scancode-wrapper .scancode-arrow {
  background: #fff;
  width: 7.07106781px;
  height: 7.07106781px;
  position: absolute;
  display: block;
  border-color: transparent;
  border-style: solid;
  top: -3px;
  -webkit-box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.06);
  box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.06);
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}
.scancode-wrapper .scancode-inner {
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.scancode-wrapper #scanCode {
  padding: 12px;
  color: rgba(0, 0, 0, 0.65);
}
.scancode-wrapper #scanCode img {
  width: 136px;
  height: 136px;
}
#scanCodeBtn:hover {
  box-shadow: none;
  transform: none;
}
.chart-wrapper {
  width: 375px;
  height: 667px;
  background: #F8FAFE;
  box-shadow: 0 2px 10px 0 rgba(205, 209, 217, 0.45);
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -187.5px;
}
.chart-wrapper .chart-header {
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 50px;
  background-color: #fff;
}
.chart-wrapper .chart-header #chartTitle {
  font-size: 14px;
  color: #2E2E2E;
}
.chart-wrapper .chart-content {
  margin-top: 10px;
  background-color: #fff;
}
.chart-wrapper .slick {
  padding-left: 0;
}
.chart-wrapper .slick .slick-list {
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .intro .header {
    padding-top: 30px;
    padding-left: 30px;
  }
  .intro .slick {
    padding-left: 0;
  }
  .card {
    height: auto;
  }
}
