.highlight {
  position: relative;
  background-color: #F6F8FA;
  padding: 16px;
  border-radius: 4px;
  overflow: auto;
  width: 100%;
}
#btn-copy {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 72px;
  background-color: #EBEEF5;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #666;
  text-align: center;
  border: none;
  font-size: 12px;
}
#btn-copy:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.drawer-toggle {
  display: none;
}
@media only screen and (max-width: 768px) {
  .drawer {
    margin-top: 0 !important;
    display: block !important;
    transition: left 0.25s;
    left: -60vw;
    position: fixed !important;
    width: 60vw !important;
    height: 100% !important;
    top: 0 !important;
    background: white !important;
    z-index: 8888;
  }
  .drawer .inner {
    height: 100% !important;
  }
  .drawer-overlay {
    opacity: 0;
    transition: opacity 0.25s;
    background: #000;
  }
  .drawer-toggle {
    display: inline-block;
    z-index: 8889;
    transition: left 0.25s;
    left: 0;
    position: fixed;
    width: 41px;
    height: 40px;
    cursor: pointer;
    pointer-events: auto;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: #fff;
    top: 72px;
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 0 4px 4px 0;
  }
  .demo-container .detail,
  .doc-container .detail {
    transform: translateX(0);
    transition: transform 0.25s;
  }
  header.navbar,
  header.animated.slideDown,
  footer.navbar {
    transform: translateX(0);
    transition: transform 0.25s;
  }
  .drawer-open .demo-container .detail,
  .drawer-open .doc-container .detail,
  .drawer-open header.navbar,
  .drawer-open header.animated.slideDown,
  .drawer-open footer.navbar {
    transform: translateX(60vw);
    transition: transform 0.25s;
  }
  .drawer-open .drawer-toggle {
    left: 60vw;
    transition: left 0.25s;
  }
  .drawer-open .drawer {
    transition: left 0.25s;
    left: 0;
  }
  .drawer-open .drawer-overlay {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    transition: opacity 0.25s;
    z-index: 8887;
  }
}
article h1,
article h2,
article h3,
article h4,
article h5 {
  font-weight: normal;
  color: #404040;
  margin-bottom: 32px;
}
article h1 {
  font-size: 30px;
}
article h2 {
  font-size: 24px;
}
article h3 {
  font-size: 18px;
}
article h4 {
  font-size: 16px;
}
article p {
  font-size: 14px;
  line-height: 26px;
  color: #666;
  margin: 16px 0;
}
article .highlight {
  margin: 20px 0;
}
article li p:first-child {
  margin-top: 0;
}
article li,
article p {
  line-height: 36px;
}
article p + h2,
article p + h3,
article p + h4,
article p + h5 {
  margin-top: 48px;
}
article div + h2,
article div + h3,
article div + h4,
article div + h5,
article ol + h2,
article ol + h3,
article ol + h4,
article ol + h5,
article table + h2,
article table + h3,
article table + h4,
article table + h5,
article ul + h2,
article ul + h3,
article ul + h4,
article ul + h5 {
  margin-top: 64px;
}
article h3 + p,
article h3 + div,
article h3 + ul,
article h3 + ol,
article h3 + table {
  margin-top: 40px;
}
article h4 + div,
article h4 + ul,
article h4 + p,
article h4 + ol,
article h4 + table {
  margin-top: 32px;
}
article h5 + div,
article h5 + ul,
article h5 + p,
article h5 + ol,
article h5 + table {
  margin-top: 24px;
}
article img {
  max-width: 100%;
  width: auto;
}
article blockquote {
  padding: 0 16px;
  color: #777;
  border-left: 4px solid #ddd;
}
article pre {
  margin-bottom: 0 !important;
}
@media only screen and (max-width: 480px) {
  article .footnotes ol,
  article .footnotes ul {
    padding-left: 0;
  }
}
.headroom {
  transition: transform 0.25s ease-in-out;
  will-change: transform;
}
.headroom.animated.slideDown {
  transform: translateY(0);
}
.headroom.animated.headroom.slideUp {
  transform: translateY(-100%);
}
.headroom--pinned {
  transform: translateY(0);
}
.headroom--unpinned {
  transform: translateY(-100%);
}
.toc-container {
  position: absolute;
  max-width: 148px;
  right: 32px;
  height: calc(100% - 120px);
  overflow-y: auto;
}
.toc-container .toc-list {
  padding-left: 16px;
}
.toc-container .toc-list-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.toc-container .toc-link {
  font-size: 12px;
  display: inline-block;
  margin: 8px 0;
  text-decoration: none;
}
.toc-container .toc-link:hover {
  color: #1890ff;
}
.toc-container .toc-link::before {
  width: 1px;
  background: #e9e9e9;
  margin-top: -8px;
}
.toc-container .toc-link.is-active-link {
  font-weight: 400;
  color: #1890ff;
}
.toc-container .toc-link.is-active-link::before {
  width: 2px;
  height: 34px;
  background: #1890ff;
}
@media only screen and (max-width: 768px) {
  .toc-container {
    display: none;
  }
}
.doc-container {
  min-width: 640px;
  padding: 0px 16px 0 16px;
}
.doc-container .content {
  width: 79.16666667%;
  padding: 40px 0 0 0;
  overflow: hidden;
  order: 1;
  z-index: 99;
}
.doc-container article {
  padding: 0px 226px 16px 64px;
  border-left: 1px solid #e9e9e9;
  min-height: calc(100vh - 168px);
}
.doc-container .toc-container {
  width: 148px;
}
.doc-container .menu {
  width: 20.83333333%;
  height: 100%;
  padding: 0 1px 0;
  order: 0;
}
.doc-container .menu .filter-container {
  padding: 40px 16px 24px;
}
.doc-container .menu .filter-container .inner {
  background: #F2F4F5;
  padding: 5px 8px;
  border-radius: 4px;
}
.doc-container .menu .filter-container .inner .iconfont {
  font-size: 12px;
  color: rgba(149, 154, 163, 0.4);
}
.doc-container .menu .filter-container .inner input {
  border: none;
  background: #F2F4F5;
  width: calc(100% - 30px);
}
.doc-container .menu .filter-container .inner input:focus {
  border: none;
  outline: none;
}
.doc-container .menu .filter-container .inner input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgba(149, 154, 163, 0.4);
  font-weight: 300;
  font-size: 12px;
  opacity: 1;
}
.doc-container .menu .filter-container .inner input::placeholder {
  /* Most modern browsers support this now. */
  color: rgba(149, 154, 163, 0.4);
  font-weight: 300;
  font-size: 12px;
  opacity: 1;
}
.doc-container .menu .inner {
  height: calc(100% - 64px);
  width: 100%;
  overflow-y: auto;
}
.doc-container .menu .list-group {
  padding-bottom: 64px;
}
.doc-container .menu .list-group .list-group-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 9.5px 0 9.5px 40px;
  margin: 4px 0 4px 0;
  border: none;
}
.doc-container .menu .list-group .list-group-item a {
  display: block;
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
}
.doc-container .menu .list-group .list-group-item.active,
.doc-container .menu .list-group .list-group-item:hover {
  background-color: #e6f7ff;
}
.doc-container .menu .list-group .list-group-item.active {
  border-right: 2px solid #1890ff;
}
.doc-container .menu .list-group .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.doc-container .menu .list-group .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.doc-container .docs,
.doc-container .tags,
.doc-container .variations {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.doc-container .docs li,
.doc-container .tags li,
.doc-container .variations li {
  display: inline-block;
  list-style: none;
}
.doc-container .docs a,
.doc-container .tags a,
.doc-container .variations a {
  text-decoration: none;
}
.doc-container .docs li,
.doc-container .variations li {
  width: 240px;
  padding: 12px 32px 12px 0;
}
.doc-container .docs a,
.doc-container .variations a {
  font-size: 16px;
  color: #666;
}
.doc-container .docs a:hover,
.doc-container .variations a:hover {
  color: #1890ff;
}
.doc-container .docs a:hover .iconfont,
.doc-container .variations a:hover .iconfont {
  color: #1890ff;
}
.doc-container .docs .iconfont,
.doc-container .variations .iconfont {
  font-size: 32px;
  color: #75828F;
  margin-right: 8px;
  vertical-align: middle;
}
.doc-container .tags {
  margin-top: 32px;
}
.doc-container .tags a {
  color: #666;
  display: block;
  border: 1px solid #E9E9E9;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(191, 200, 209, 0.3);
  width: auto;
  padding: 12px 32px 12px 24px;
  margin-bottom: 32px;
  margin-right: 24px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.doc-container .tags a:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
  box-shadow: 0 12px 24px rgba(84, 48, 132, 0.06);
}
.doc-container .tags .iconfont {
  font-size: 32px;
  line-height: 32px;
  color: #ADB4BC;
  margin-right: 32px;
  vertical-align: middle;
}
.doc-container .prev-next {
  margin-top: 32px;
  padding: 24px 0;
  border-top: 1px solid #ebedf0;
  height: 64px;
}
.doc-container .prev-next a {
  line-height: 16px;
  text-decoration: none;
  font-size: 14px;
}
.doc-container .prev-next a .iconfont {
  color: #697b8c;
}
.doc-container .prev-next a:hover {
  color: #1890ff;
}
.doc-container .prev-next a:hover .iconfont {
  color: #1890ff;
}
.doc-container .prev-next .pre:before {
  font-family: iconfont;
  content: "\E6E6";
  font-size: 12px;
  margin-right: 1em;
  color: #697b8c;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  left: 0;
}
.doc-container .prev-next .pre:hover:before {
  left: -10px;
  color: #1890ff;
}
.doc-container .prev-next .next:after {
  font-family: iconfont;
  content: "\E6E3";
  font-size: 12px;
  margin-left: 1em;
  color: #697b8c;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  right: 0;
}
.doc-container .prev-next .next:hover:after {
  right: -10px;
  color: #1890ff;
}
.inner-page-toc {
  margin-top: -16px;
  margin-bottom: 16px;
}
.inner-page-toc .col-md-3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2;
  color: #1890ff;
}
.inner-page-toc .level-2 {
  display: block;
  padding: 0 15px;
  color: rgba(0, 0, 0, 0.65);
  width: 100%;
  max-width: 100%;
  flex: 0 0 100%;
  margin: 15px 0;
}
.inner-page-toc .level-2:hover {
  text-decoration: none;
  color: #1890ff;
}
@media (max-width: 881px) {
  .doc-container .menu {
    position: relative;
    width: 100%;
  }
  .doc-container .menu .inner {
    position: relative;
    padding-bottom: 32px;
  }
  .doc-container .detail {
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
  body,
  .doc-container {
    height: auto;
    overflow-x: hidden;
  }
  .doc-container {
    min-width: 0;
  }
  .doc-container article {
    padding: 0;
    border-left: none;
  }
  .doc-container .menu {
    padding: 0;
  }
  .doc-container .menu .list-group {
    padding-bottom: 0;
  }
  .doc-container .docs li,
  .doc-container .tags li,
  .doc-container .variations li {
    display: block;
  }
  .doc-container .docs a,
  .doc-container .tags a,
  .doc-container .variations a {
    margin: 12px 0;
  }
}
