<phpunit bootstrap="./bootstrap.php">
    <testsuites>


        <!--- 3.测试所有自定义函数是否正常-->
        <testsuite name="User-function">
            <directory suffix=".php">unit/user_function</directory>
        </testsuite>

        <!--- 4.测试所有逻辑类是否正常-->
        <testsuite name="Unit-Logic">
            <directory suffix=".php">unit/classes</directory>
        </testsuite>

        <!--- 5.测试所有的功能是否正常-->
        <testsuite name="Feature">
            <directory suffix=".php">feature/ctrl</directory>
        </testsuite>

    </testsuites>
</phpunit>