<phpunit bootstrap="./bootstrap.php">
    <testsuites>

        <testsuite name="Require">
            <file>./requirement/testEnv.php</file>
            <file>./requirement/testFramework.php</file>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix=".php">unit/classes</directory>
        </testsuite>

        <testsuite name="Feature">
            <directory suffix=".php">feature/ctrl</directory>
        </testsuite>

    </testsuites>
</phpunit>