@charset "utf-8";
/* CSS Document */
/* 公用 */
@font-face {
  font-family: 'iconfont';  /* project id 41366 */
  src: url(../../../../../../../at.alicdn.com/t/font_41366_s0uivxkwh3434n29.eott');
  src: url('http://at.alicdn.com/t/font_41366_s0uivxkwh3434n29.eot?#iefix') format('embedded-opentype'),
  url(../../../../../../../at.alicdn.com/t/font_41366_s0uivxkwh3434n29.wofff') format('woff'),
  url(../../../../../../../at.alicdn.com/t/font_41366_s0uivxkwh3434n29.ttff') format('truetype'),
  url('http://at.alicdn.com/t/font_41366_s0uivxkwh3434n29.svg#iconfont') format('svg');
}
.iconfont {
font-family:"iconfont" !important;
font-style:normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-size: 12px;
}
ul.navbar-right::-webkit-scrollbar {
   display:none
}
ul.navbar-right li::-webkit-scrollbar{
  display:none
}
ul.navbar-right li a::-webkit-scrollbar{
  display:none
}
.navbar-collapse::-webkit-scrollbar {
   display:none
}
/* ==============================================================页头页尾================================================================== */
.top{
width: 100%;
background: #383838;
height: 35px;
line-height: 35px;
color: #fff;
font-size: 12px;
}
.top ul li.app i{font-size: 14px;}
.top ul li.code i{font-size: 13px;}
.top ul li{cursor:pointer;}
.navbar-default{
box-shadow: none;
border-bottom: 2px solid #e10000
}
.top li.code{position: relative;}
.top li.code .code_img {
position: absolute;
z-index: 9;
left: 3px;
background: #fff;
padding: 10px;
display: none;
}
nav.navbar.navbar-default ul li a{
width: 120px;
height: 70px;
text-align: center;
}
nav.navbar.navbar-default ul li a:hover{
background: #e10000;
color:#fff;
}

.x_fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
nav.navbar.navbar-default ul li a{color:#333;font-weight: normal;transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
  }
nav.navbar.navbar-default ul li a.on{background: #e10000;color:#fff;}
.footer{background: #24262a;height: 265px;border-top: 2px solid #e61d13;padding-top: 40px;}
.footer ul{text-align: center;}
.footer ul li{padding:0;}
.footer ul li a,.footer ul li span{
color: #d2d2d2;
font-size: 16px;
padding:0 15px;
}
.footer .row{color: #fff;line-height: 32px;padding-top: 40px;}
.footer .col-sm-5{padding-left: 3%;}
.footer .col-sm-3 {
padding-left: 12.6%;
}
.footer .col-sm-4 {
padding-left: 6%;
}
.copyright{width: 100%;background: #16171a;height: 50px;line-height: 50px;color: #fff;text-align: center;}
/*======================================================================首页================================================================*/
/* banner */
.swiper-container {
width: 100%;
height: 700px
}
.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
.swiper-slide, .sonpage_banner{height:720px; }
.swiper-pagination{bottom:4px!important}
/* 大分辩显示 */
.wrap_banner{width:100%;height:700px;position:relative;margin:0 auto;}
.wrap_banner .scroll{position:relative;overflow:hidden;}
.wrap_banner .scroll ul{position:absolute;width:20000em;}
.wrap_banner .scroll ul li{float:left;}
.wrap_banner .bpic,ins.nm{position:absolute;top:0;width:100%;text-align:center;height: 700px;overflow: hidden;}
.wrap_banner ins.nm{height:89px;background-color:#218723;top:540px;filter:alpha(opacity=60);opacity:0.6;}
.wrap_banner .b1 {
    width: 327px;
   height: 105px;
    position: absolute;
    bottom: 100px;
    right: 250px;
    z-index: 1;
    margin: 0 auto;
    border-bottom: 5px solid #ff5000;
    padding-bottom: 20px;
}
.wrap_banner .b1 li,.b1 li ins{width:105px;height:66px;position:relative;}
.wrap_banner .b1 li{margin-right:6px;cursor:pointer;}
.wrap_banner .b1 li div{display:none;}
.wrap_banner .b1 li img{border:5px solid #000;width:105px;height:66px;}
.wrap_banner .b1 li p {
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 12px;
    margin: 0;
    height: 18px;
    line-height: 13px;
}
.wrap_banner .b1 li.active p{background:#ff5000}
.wrap_banner .b1 li.active img {
    width: 105px;
    margin: 0;
    height: 66px;
    border: 5px solid #ff5000;
}

.wrap_banner .bpic img{width: 100%;}
/* 我们可以做的更好 */
.do_well{margin-top: 30px;}
.do_well .col-sm-3{
text-align: center;
cursor: pointer;
}
.do_well .col-sm-3 div{ position: relative;}
.do_well .col-sm-3 div img{display: inline-block;}
.do_well .col-sm-3 img.img2 {
position: absolute;
top: 0;
left: 0;
right: 0;
margin:0 auto
}

.do_well .col-sm-3 img.img1{
-webkit-transform: rotateX(0deg) rotateY(0deg);
-webkit-transform-style: preserve-3d;
-webkit-backface-visibility: hidden;
-moz-transform: rotateX(0deg) rotateY(0deg);
-moz-transform-style: preserve-3d;
-moz-backface-visibility: hidden;
-o-transition: all .4s ease-in-out;
-ms-transition: all .4s ease-in-out;
-moz-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}
.do_well .col-sm-3:hover img.img1{
-webkit-transform:rotateY(180deg);
-moz-transform:rotateY(180deg);
}
.do_well .col-sm-3 img.img2{
-webkit-transform: rotateY(-180deg);
-webkit-transform-style: preserve-3d;
-webkit-backface-visibility: hidden;
-moz-transform: rotateY(-180deg);
-moz-transform-style: preserve-3d;
-moz-backface-visibility: hidden;
-o-transition: all .4s ease-in-out;
-ms-transition: all .4s ease-in-out;
-moz-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}
.do_well .col-sm-3:hover img.img2{
-webkit-transform:rotateX(0deg) rotateY(0deg);
-moz-transform:rotateX(0deg) rotate(0deg);
}
.do_well .col-sm-3 p{margin-top: 15px}
.do_well .col-sm-3 p.p1{color: #f05753}
.do_well .col-sm-3 p.p2{color: #e35be3}
.do_well .col-sm-3 p.p3{color: #49aafe}
.do_well .col-sm-3 p.p4{color: #f99e21}
.index_titlebox{text-align: center;}
.index_titlebox .index_title{font-size: 32px;position: relative;}
.index_titlebox .index_title:before {
content: '';
position: absolute;
width: 70px;
height: 4px;
background: #e35b5b;
left: 0;
right: 0;
margin: 0 auto;
bottom: -25px;
}
.index_titlebox .index_intro{font-size: 18px;color: #727272;margin:45px 0 50px 0;}
/* 我们的成功案例 */
.image01 {
width: 100%;
overflow: hidden;
position: relative;
-webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
-moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
margin-bottom: 20px
}
.image01 img {
width: 100%;
top: 0;
position: relative;
left: 0;
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
-webkit-transition: -webkit-transform 0.5s;
-moz-transition: -moz-transform 0.5s;
-o-transition: -o-transform 0.5s;
transition: transform 0.5s;
}
.image01 .ovrly {
background: rgba(0, 0, 0, 0.5);
height: 100%;
left: 0;
top: 0;
position: absolute;
width: 100%;
opacity: 0;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}
.image01 .buttons {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
.image01 .buttons .fa {
background: rgb(256, 256, 256);
-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
color: rgba(50, 50, 50, 0.9);
display: inline-block;
margin: 0 1px;
line-height: 40px;
font-size: 16px;
text-align: center;
text-decoration: none;
width: 40px;
height: 40px;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
opacity: 0;
}
.image01:hover img {
-webkit-filter: blur(2px);
filter: blur(2px);
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
.image01:hover .ovrly {
opacity: 1;
}
.image01:hover .buttons .fa {
opacity: 1;
}
.image01 .title {
width: 100%;
height: 35px;
background: rgba(0,0,0,.5);
color: #fff;
position: absolute;
bottom: 0;
text-align: center;
line-height: 35px;
font-size: 14px;
}
.image01 .buttons{font-size: 14px;color: #fff;display: none;}
.image01:hover .buttons{display: block;}
.image01:hover .title{display: none;}
.image01 .buttons i{
width: 55px;
height: 55px;
display: inline-block;
text-align: center;
line-height: 54px;
border-radius: 30px;
font-size: 24px;
border: 1px solid #fff;
transition: all 0.6s ease 0s;
-o-transition: all 0.6s ease 0s;
-moz-transition: all 0.6s ease 0s;
-webkit-transition: all 0.6s ease 0s;
cursor: pointer;
margin-top: 5px
}
.image01 .buttons p{font-size: 18px;font-weight: bold;}
.image01 .buttons i:hover{
background: #f05753;
border-color:#f05753;
}
.tc{text-align: center;}
/* 腰线1 */
.waist_line{
width: 100%;
height: 460px;
background: url(../img/index_12.png) fixed no-repeat;
background-size: cover;
background-position: center center;
margin-top: 40px;
max-width: 1920px;
}
.waist_line h2{font-size: 42px;color: #fff;padding-top: 80px;line-height:80px}
.waist_line  a {
float: left;
margin-left: 65px;
width: 218px;
background: #3eccea;
height: 66px;
margin-right: 65px;
text-align: center;
line-height: 50px;
font-size: 28px;
color: #fff;
transition: all 1s ease 0s;
-o-transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s;
}
.waist_line  a:hover{
background: #f60;
color: #fff;
}
.waist_line .index_button{width: 700px;margin:0 auto;margin-top: 40px}
/* 我们的品质 */
.he_3DFlipY {
display: block;
height: 360px;
overflow: hidden;
padding: 0;
margin: 0;
border: 0;
position: relative;
box-sizing: border-box;
cursor: pointer;
-webkit-perspective: 1700px;
-moz-perspective: 1700px;
perspective: 1700px;
-webkit-perspective-origin: 50% 50%;
-moz-perspective-origin: 50% 50%;
perspective-origin: 50% 50%
}

.he_3DFlipY_inner {
width: 100%;
height: 100%;
padding: 0;
margin: 0;
position: relative;
text-align: center;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d
}

.he_3DFlipY_inner > div.he_3DFlipY_img {
background: url(../img/index_2.png) no-repeat center;
width: 100%;
height: 360px;
backface-visibility: hidden;
-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
padding-top: 100px;
}
.he_3DFlipY_inner p {
padding-top: 30px;
line-height: 24px;
font-size: 15px;
}
.he_3DFlipY_inner p.p2{line-height: 33px}
.he_3DFlipY_inner > div.he_3DFlipY_img p,.he_3DFlipY_inner > div.he_3DFlipY_img i{color: #8f8f8f}
.he_3DFlipY_inner i{font-size:32px; margin: 0 10px; }

.he_3DFlipY_inner:hover > div.he_3DFlipY_img {
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
transform: rotateY(180deg)
}

.he_3DFlipY_inner > div img {
max-width: 100%;
padding: 0;
margin: 0;
display: block;
position: relative
}

.he_3DFlipY_caption {
position: absolute;
top: 0;
left: 0;
padding: 0;
background: url(../img/index_1.png) no-repeat center;
color: #fff;
height: 100%;
width: 100%;
padding: 0;
margin: 0;
opacity: 0;
text-align: center;
backface-visibility: hidden;
-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);
transform: rotateY(-180deg);
-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
padding-top: 100px
}

.he_3DFlipY_inner:hover .he_3DFlipY_caption {
opacity: 1;
-webkit-transform: rotateY(0);
-moz-transform: rotateY(0);
transform: rotateY(0)
}

.he_3DFlipY_caption p {
font-size: 15px;
text-align: center;
width: 100%;
position: absolute;
top: 48%;
margin: 0;
padding: 0;
color: #fff
}
/*我们的品质-移动端显示*/
.do_well .quality .media-left{
width: 100px;
height: 100px;
border: 1px solid #d8d8d8;
padding:0;
} 
.do_well .quality .media-body{padding-left: 15px;color: #666}
.do_well .quality .media-body p{padding-left: 15px;color: #666;margin:0;}
.do_well .quality .media-body p span {
position: relative;
display: inline-block;
margin-bottom: 5px;
}
.do_well .quality .media-body p span:before{
content: '';
width: 6px;
height: 6px;
background: #e35b5b;
border-radius: 5px;
position: absolute;
top: 7px;
left: -15px;
}
/* 新闻中心 */
.index_news {
background: url(../img/index_01.png) no-repeat;
height: 615px;
padding-top: 50px;
}
.index_news p{margin-bottom: 0}
.index_news .media-left p{width: 85px;height: 90px;border:2px solid #ccc;display: inline-block;text-align: center;color: #606060;padding-top: 10px}
.index_news .media-left p span.month{font-size: 16px;}
.index_news .media-left p span.day{font-size: 36px;}
.index_news .media-body {color: #333}
.index_news .media-body h4{font-size: 16px;font-weight: bold;padding:10px 0}
.index_news .media-body p{font-size: 14px;line-height: 22px}
.index_news .col-sm-6 .media{
background: #fff;
padding: 10px;
margin-bottom: 30px;
transition: all ease-in-out .3s;
-webkit-transition: all ease-in-out .3s;
-moz-transition: all ease-in-out .3s;
}
.index_news .col-sm-6 a:hover{text-decoration: none;}
.index_news .col-sm-6 a:hover h4{color: #f05753}
.index_news .col-sm-6 a:hover .media{box-shadow: 0px 0px 20px #b3b3b3}
/* 腰线2 */
.waist_line2{
width: 100%;
background: url(../img/bbbggg.png) no-repeat center;
height: 370px;
}
/* ==========================================================关于我们====================================================================== */
.about_banners{
  background: url(../img/about_banner.jpg) no-repeat center;
}
.about_banner{
height: 388px;
}
.tab_wrapper .tab_details {
margin: 0;
width: 100%;
display: none;
position: relative;
}
.tab_wrapper .tab{
position:absolute;
margin:0;
padding:0;
list-style:none;
overflow:hidden;
}
.about_wrapper .tab{width: 310px;left: 0;right: 0;margin:0 auto;}
.tab_wrapper .tab li {
height: 42px;
width: 130px;
line-height: 42px;
cursor: pointer;
font-family: '微软雅黑';
font-size: 16px;
float: left;
border-radius: 50px;
text-align: center;
margin-right: 50px;
border:1px solid #e35b5b;
transition: all 0.4s ease;
}
.tab_wrapper .on{
display:block;
}
.tab_wrapper .tab li.last{margin-right: 0}
.tab_wrapper .tab li.cur {
background: #e35b5b;
}

.tab_wrapper .tab li a{
text-decoration:none; 
color:  #e35b5b;
padding: 0;
}
.tab_wrapper .cur a{
color: #fff!important;
text-decoration:none;
}
.tab_wrapper .tab_nav{position: relative;height: 50px;padding:70px 0 90px 0;}
.about_wrapper .do_well .box .col-sm-7{
color: #474646;
}
.about_wrapper .do_well .box .col-sm-7 h3{font-size: 20px;font-weight: bold;margin-top: 10px}
.about_wrapper .do_well .box .col-sm-7 p{margin-bottom: 15px;font-size: 14px;padding-top:5px;line-height: 26px}
.about_wrapper .yctd{margin-top: 60px}
.about_wrapper{margin-bottom: 90px}
      .about_wrapper .box .all_box{
        background: url(../img/about.png) no-repeat;
        height: 184px;
        position: relative;
        margin-top: 60px;
        background-size: cover;
      }
      .about_wrapper .box .all_box .icon_box {
width: 100px;
height: 100px;
position: absolute;
background: url(../img/about_td.png) no-repeat;
left: 0;
right: 0;
margin: 0 auto;
top: -50px;
line-height: 100px;
}
.about_wrapper .box .all_box .icon_box i{font-size: 40px;color: #fff;} 
.about_wrapper .box .all_box .text_box{padding-top:70px;}
.about_wrapper .box .all_box .text_box p{color: #fff;margin:0;text-align: justify;padding:0 15px;line-height: 26px}
.about_wrapper .box .title_box{
height: 50px;
background: #e35b5b;
color: #fff;
font-size: 18px;
line-height: 50px;
}
.about_wrapper .box .col-sm-3.col-xs-6{padding:0px;padding-right: 15px;}
.about_wrapper .box .col-sm-3.col-xs-6.last{padding-right: 0px;}

[class^='imghvr-'],
[class*=' imghvr-'] {
  position: relative;
  display: inline-block;
  margin: 0px;
  max-width: 100%;
  background-color:#e35b5b;
  color: #fff;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
[class^='imghvr-'] > img,
[class*=' imghvr-'] > img {
  vertical-align: top;
  max-width: 100%;
}
[class^='imghvr-'] figcaption,
[class*=' imghvr-'] figcaption {
  background-color: inherit;
  padding: 30px 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
[class^='imghvr-'] h3,
[class*=' imghvr-'] h3,
[class^='imghvr-'] p,
[class*=' imghvr-'] p {
  margin: 0;
  padding: 0;
  color: #fff;
}

[class^='imghvr-'],
[class*=' imghvr-'],
[class^='imghvr-']:before,
[class^='imghvr-']:after,
[class*=' imghvr-']:before,
[class*=' imghvr-']:after,
[class^='imghvr-'] *,
[class*=' imghvr-'] *,
[class^='imghvr-'] *:before,
[class^='imghvr-'] *:after,
[class*=' imghvr-'] *:before,
[class*=' imghvr-'] *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

/* imghvr-flip-*
   ----------------------------- */
[class^='imghvr-flip-'],
[class*=' imghvr-flip-'] {
  -webkit-perspective: 50em;
  perspective: 50em;
}
[class^='imghvr-flip-'] img,
[class*=' imghvr-flip-'] img {
  backface-visibility: hidden;
}
[class^='imghvr-flip-'] figcaption,
[class*=' imghvr-flip-'] figcaption {
  opacity: 0;
}
[class^='imghvr-flip-']:hover > img,
[class*=' imghvr-flip-']:hover > img {
  opacity: 0;
}
[class^='imghvr-flip-']:hover figcaption,
[class*=' imghvr-flip-']:hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
/* imghvr-flip-diag-2
   ----------------------------- */
.imghvr-flip-diag-2 figcaption {
  -webkit-transform: rotate3d(1, 1, 0, 100deg);
  transform: rotate3d(1, 1, 0, 100deg);
}
.imghvr-flip-diag-2:hover > img {
  -webkit-transform: rotate3d(-1, -1, 0, 100deg);
  transform: rotate3d(-1, -1, 0, 100deg);
}
.imghvr-flip-diag-2:hover figcaption {
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
}
.imghvr-flip-diag-2 i{font-size: 40px;}
.imghvr-flip-diag-2 h3{font-size: 20px;margin-top: 5px;}
.imghvr-flip-diag-2 p{font-size: 15px;line-height: 26px;}
.imghvr-flip-diag-2 figcaption div{margin-top: 20px;}
/* ============================================================服务项目============================================================================ */
.service_wrapper .do_well .box .col-sm-4{margin-bottom: 30px}
.service_wrapper .do_well .box .col-sm-4 a{color: #fff;text-decoration: none;display: inline-block;}
.service_wrapper .do_well .box .col-sm-4 .text_box{
background:#666;
padding:10px 15px;
text-align: center;
}
.service_wrapper .do_well .box .col-sm-4 .text_box h4{font-size: 14px;font-weight: bold;}
.service_wrapper .do_well .box .col-sm-4 .text_box p{font-size: 14px;}
.service_wrapper .do_well .box .col-sm-4 .img_box{overflow: hidden;}
.service_wrapper .do_well .box .col-sm-4 .img_box img{
transition: .3s all linear 0s;
}
.service_wrapper .do_well .box .col-sm-4:hover img{
    transform: scale(1.1);
}
.service_wrapper .do_well .box .col-sm-4 a{
transition: All 0.4s ease-in-out;
-webkit-transition: All 0.4s ease-in-out;
-moz-transition: All 0.4s ease-in-out;
-o-transition: All 0.4s ease-in-out;
}
.service_wrapper .do_well .box .col-sm-4 a:hover{
transform: translate(0,-10px);
-webkit-transform: translate(0,-10px);
-moz-transform: translate(0,-10px);
-o-transform: translate(0,-10px);
-ms-transform: translate(0,-10px);
-webkit-box-shadow: 0px 5px 20px #a0a0a0;
-moz-box-shadow: 0px 5px 20px #a0a0a0;
box-shadow: 0px 5px 20px #a0a0a0;
}
/* 我们可以做的更好 */
.business{margin-top: 70px}
.business .box ul.items {
  margin: 0 auto;

}

.business .box ul.items li {
    width: 25%;
    height: 300px;
    margin: 0;
    background: url(../img/bg_green.png) no-repeat 0px 400px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    padding: 0;
    float: left;
}

.business .box ul.items li i {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 43px;
  height: 69px;
}

.business .box ul.items li.pc i {
  width: 69px;
  background: url(../img/words.png) no-repeat -245px -357px;
}

.business .box ul.items li.mobi i {
  width: 64px;
  background: url(../img/words.png) no-repeat -416px -291px;
}

.business .box ul.items li.sys i {
  width: 76px;
  background: url(../img/words.png) no-repeat -415px -362px;
}

.business .box ul.items li.app i {
  width: 74px;
  background: url(../img/words.png) no-repeat -244px -439px;
}

.business .box ul.items li.host i {
  width: 79px;
  background: url(../img/words.png) no-repeat -420px -439px;
}

.business .box ul.items li u {
    display: block;
    position: absolute;
    width: 20%;
    height: 156px;
    margin-left: 65px;
    background: url(../img/words.png) no-repeat 0px -363px;
    -webkit-transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -ms-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
}

.business .box ul.items li u.cl {
  clip: rect(0px,156px,-10px,78px);
}

.business.active .box ul.items li u.cl {
  clip: rect(0px,156px,156px,78px);
}

.business .box ul.items li u.cr {
  clip: rect(156px,78px,156px,0px);
}

.business.active .box ul.items li u.cr {
  clip: rect(0px,78px,156px,0px);
}

.business .box ul.items li strong {
  display: block;
  margin-top: 70px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

.business .box ul.items li p {
  position: relative;
  top: 200px;
  color: White;
  font-family: Arial,"微软雅黑";
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.business .box ul.items li:hover {
  background-position: 0px 0px;
  -webkit-transition: all .5s ease-in-out .3s;
  -moz-transition: all .5s ease-in-out .3s;
  -ms-transition: all .5s ease-in-out .3s;
  -o-transition: all .5s ease-in-out .3s;
  transition: all .5s ease-in-out .3s;
}

.business .box ul.items li:hover i {
  -webkit-transition: all .5s ease-in-out .4s;
  -moz-transition: all .5s ease-in-out .4s;
  -ms-transition: all .5s ease-in-out .4s;
  -o-transition: all .5s ease-in-out .4s;
  transition: all .5s ease-in-out .4s;
}

.business .box ul.items li.pc:hover i {
  background: url(../img/words.png) no-repeat -168px -357px;
}

.business .box ul.items li.mobi:hover i {
  background: url(../img/words.png) no-repeat -337px -291px;
}

.business .box ul.items li.sys:hover i {
  background: url(../img/words.png) no-repeat -327px -362px;
}

.business .box ul.items li.app:hover i {
  background: url(../img/words.png) no-repeat -164px -439px;
}

.business .box ul.items li.host:hover i {
  background: url(../img/words.png) no-repeat -335px -439px;
}

.business .box ul.items li:hover u.cl {
  clip: rect(0px,156px,-10px,78px);
}

.business .box ul.items li:hover u.cr {
  clip: rect(156px,78px,156px,0px);
}

.business .box ul.items li:hover strong {
  color: White;
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -ms-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

.business .box ul.items li:hover p {
  top: 20px;
  -webkit-transition: all .3s ease-in-out .5s;
  -moz-transition: all .3s ease-in-out .5s;
  -ms-transition: all .3s ease-in-out .5s;
  -o-transition: all .3s ease-in-out .5s;
  transition: all .3s ease-in-out .5s;
}
.service_dowell .col-sm-3.website{background: #f05753}
.service_dowell .col-sm-3.app{background: #e35be3}
.service_dowell .col-sm-3.h5{background: #49aafe}
.service_dowell .col-sm-3.wechat{background: #f99e21}
.service_dowell .col-sm-3 h5 {
width: 75px;
height: 75px;
display: inline-block;

}
.service_dowell .col-sm-3.website h5{background: url(../img/words.png) no-repeat -168px -357px;}
.service_dowell .col-sm-3.app h5{background: url(../img/words.png) no-repeat -330px -291px;}
.service_dowell .col-sm-3.h5 h5{background: url(../img/words.png) no-repeat -330px -366px;}
.service_dowell .col-sm-3.wechat h5{background: url(../img/words.png) no-repeat -169px -440px;}
.service_dowell .col-sm-3{color: #fff}
.service_dowell .col-sm-3 h4{font-size: 15px}
.service_dowell .col-sm-3 p{line-height: 20px;font-size: 13px}
.service_dowell .col-sm-3.h5 p{line-height: 21px}
.service_dowell .col-sm-3{width: 24%;margin:0.5%;}
/* ==============================================================案例列表===================================================================== */
.case_wrapper ul.tab{
width: 1159px;
left: 0;
right: 0;
margin: 0 auto;
}
.case_wrapper ul{width: 100%}
.case_wrapper .col-sm-12{float: none;}
.case_wrapper ul li{margin-right: 3%!important}
.case_wrapper .tab_box .col-sm-4{
margin-bottom: 40px;
transition: All 0.4s ease-in-out;
-webkit-transition: All 0.4s ease-in-out;
-moz-transition: All 0.4s ease-in-out;
-o-transition: All 0.4s ease-in-out;
}
.case_wrapper .tab_box .col-sm-4:hover{
transform: translate(0,-10px);
-webkit-transform: translate(0,-10px);
-moz-transform: translate(0,-10px);
-o-transform: translate(0,-10px);
-ms-transform: translate(0,-10px);
-webkit-box-shadow: 1px 6px 15px 4px #fff;
-moz-box-shadow: 1px 6px 15px 4px #fff;
box-shadow: 1px 6px 15px 4px #fff;
}
.case_wrapper .tab_box .col-sm-4 .main_box{
position: relative;
}
.container_2{padding:0 50px;}
.case_wrapper .tab_box .col-sm-4 .img_box,.case_wrapper .tab_box .col-sm-4 .cover{
position: absolute;
width: 100%;
top: 4.5%;
text-align: center;
}
.case_wrapper .tab_box .col-sm-4 .cover {
color: #fff;
width: 76.923%;
background: rgba(0,0,0,.4);
margin: 0 auto;
left: 0;
right: 0;
webkit-transition: all 300ms ease 0s;
-moz-transition: all 300ms ease 0s;
-ms-transition: all 300ms ease 0s;
-o-transition: all 300ms ease 0s;
transition: all 300ms ease 0s;
opacity: 0;
padding-bottom: 10px;
height: 78%;
}
.case_wrapper .tab_box .col-sm-4:hover .cover{opacity: 0.8;}
.case_wrapper .tab_box .col-sm-4 .cover h4 {
font-size: 18px;
font-weight: bold;
margin-top: 15%;
margin-bottom: 15px;
text-shadow: 0px 0px 1px #e35b5b;
}
.case_wrapper .tab_box .col-sm-4 .cover i {
width: 55px;
height: 55px;
display: inline-block;
text-align: center;
line-height: 54px;
border-radius: 30px;
font-size: 24px;
border: 1px solid #fff;
transition: all 0.6s ease 0s;
-o-transition: all 0.6s ease 0s;
-moz-transition: all 0.6s ease 0s;
-webkit-transition: all 0.6s ease 0s;
cursor: pointer;
margin-top: 5px;
}
.case_wrapper .tab_box .col-sm-4 .cover i:hover {
background: #f05753;
border-color: #f05753;
}
.case_wrapper .tab_box .col-sm-4 .main {
max-width: 520px;
margin: 0 auto;
}
.case_wrapper .tab_box .col-sm-4 .img_box img {
width: 76.923%;
}
.case_wrapper .tab_box{margin-top: 50px}
/* ==============================================================网站模版列表===================================================================== */
.modal_show .col-sm-4 .nr{
box-shadow: 0px 3px 10px 2px #e6e6e6;
padding-top: 1px;
}
.modal_show .col-sm-4 a{color: #333;text-decoration: none;}
.modal_show .col-sm-4 p.p1:hover{color: #379ad4;}
.modal_show .col-sm-4:hover .nr{
-webkit-box-shadow: 1px 12px 27px 4px #e6e6e6;

       
}
.modal_show .col-sm-4 .img_boxs{
      border:1px solid #e7e7e7;
      max-height: 285px;
      overflow: hidden;
      margin: 10px 10px 0 10px;
}
.modal_show .col-sm-4 .img_boxs img{min-height: 285px;}
.modal_show .col-sm-4 .text_boxs{padding:10px;}
.modal_show .col-sm-4 .text_boxs p.p2{color: #666;font-size: 13px;}
.modal_show .col-sm-4 .text_boxs h4{font-size: 15px;font-weight: bold;margin-top: 5px;}
/* ============================================================案例详情====================================================== */
.case_details .lbt {
background: url(../img/lb_bg.png) no-repeat center;
height: 865px;
position: relative;
padding-top: 53px;
text-align: center;
}
.case_details .lbt .carousel-inner .item{
position: absolute;
}
.case_details div#carousel-example-generic {
height: 535px;
z-index: 99999999;
width: 935px;
overflow: hidden;
margin-left: -12px;
position: initial;
display: inline-block;
}
.case_details .carousel-inner{height: 535px}
.case_details .carousel-indicators {
position: absolute;
bottom: 185px;
left: 0;
right: 0;
z-index: 15;
width: 150px;
padding-left: 0;
margin-left: -30%;
text-align: center;
list-style: none;
background: #333333;
height: 28px;
line-height: 28px;
border-radius: 50px;
margin: 0 auto;
}
.carousel-indicators li {
display: inline-block;
width: 16px;
height: 16px;
margin:4px;
}
.carousel-indicators .active {
width: 16px;
height: 16px;
border:1px solid red;
background: red;
margin:5px 4px;
}
.case_details ul li a{
width: 70px;
height: 40px;
border:1px solid #ccc;
display: inline-block;
text-align: center;
line-height: 40px;
border-radius: 5px;
color: #666;
font-size: 14px;
text-decoration: none;
transition: all 0.4s ease;
}
.case_details ul li a:hover{background: #e35b5b;color: #fff}
.case_details ul li a i{font-size: 26px;vertical-align: -webkit-baseline-middle}
.case_details ul{border-bottom: 1px solid #d3d3d3;padding:20px 0;}
.case_details .text_box .logo{padding:90px 0 60px 0;position: relative;}
.case_details .text_box .logo:before{
position: absolute;
content: '';
width: 600px;
height: 1px;
background: #ccc;
left: 0;
right: 0;
margin: 0 auto;
bottom: 0;
}
.case_details .title{padding:0 50px;margin-top: 20px}
.case_details .title a.btn{
width: 100px;
height: 34px;
line-height: 17px;
border-radius: 5px;
border:1px solid #ccc;
font-size: 16px;
color: #999;
display: block;
margin: 20px auto 30px
}
.case_details .title p{font-size: 15px;color: #999}
.case_details .case_tip h3{font-size:0.25rem; }
.case_details .case_tip a.btn{
width: 0.4rem;
height: 0.1rem;
}
.case_details .case_tip a.btn {
width: 1.9rem;
height: 0.5rem;
display: inline-block;
border: 2px solid #333;
font-size: 0.22rem;
color: #333;
margin: 0.5rem 0 0.7rem 0;
line-height: 0.36rem;
}
.x_gradient{
transition: all 0.4s ease;
}
.case_details .case_tip a.btn:hover{background: #333;color: #fff}
/* =====================================================联系我们============================================================================== */
.contact_wrapper .contact_top i{
width: 100px;
height: 100px;
border:3px solid #e35b5b;
display: inline-block;
font-size: 40px;
color:#e35b5b;
border-radius: 15px;
text-align: center;
line-height: 100px;
cursor: pointer;
}
.contact_wrapper .contact_top i:hover{
background: #e35b5b;
color: #fff;
}
.contact_wrapper .contact_top .col-sm-4{text-align: center;}
.contact_wrapper .contact_top .col-sm-4 p{font-size: 16px;font-weight: bold;margin-top: 30px}
.contact_wrapper .contact_bottom {
    margin-top: 90px;
    margin-bottom: 50px;
    overflow: hidden;
}
.contact_wrapper .contact_bottom h3{font-size: 26px;}
.contact_wrapper .contact_bottom .text{font-size: 16px;}
.contact_wrapper .contact_bottom .text p.p1{margin:20px 0;}
.contact_wrapper .contact_bottom .text p.p2{font-size: 14px;color: #757575;line-height: 25px}
.contact_wrapper .contact_bottom .text  p span{color: #e35b5b}
.contact_wrapper .contact_bottom .text ul{margin: 20px 0;}
.contact_wrapper .contact_bottom .text ul li p{margin-top:10px;}
.contact_wrapper .contact_bottom .text p.adress{
color: #404040;
line-height: 32px;
}
.contact_wrapper .contact_bottom ul li{margin-right: 25px}
/* 新闻列表 */
.news_wrapper .tab_box ul li a{text-decoration: none;}
.news_wrapper .tab_box ul li .imgPic{
float: left;
width: 225px;
height: 145px;
display: block;
}
.news_wrapper .tab_box ul li .listInfo{
margin-left: 250px;
display: block;
}
.news_wrapper .tab_box ul li .listInfo .nTitile{
color: #333;
font-weight: bold;
font-size: 18px;
width: 100%;
word-break: keep-all;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.news_wrapper .tab_box ul li .listInfo p,.news_wrapper .tab_box ul li .listInfo button.btn{
color: #999;
line-height: 24px;
font-size: 16px;
padding-top: 10px;
text-align: justify;
background: none
}
.news_wrapper .tab_box ul li .listInfo button.btn{padding:0;}
.news_wrapper .tab_box ul li{
overflow: hidden;
padding:10px;
transition: all ease-in-out .3s;
-webkit-transition: all ease-in-out .3s;
-moz-transition: all ease-in-out .3s;
margin-bottom: 40px
}
.news_wrapper .tab_box ul li:hover{
box-shadow: 0px 1px 12px 5px rgba(0,0,0,0.15);
}
.news_wrapper .tab_box ul li:hover .nTitile{color: #e35b5b}
.news_wrapper .tab_box ul li .listInfo .pull-right {
font-size: 15px;
color: #999;
padding-top: 5px;
}
.news_wrapper .tab_box ul li .listInfo .pull-right span{padding-left: 10px}
.news_wrapper .tab{
width: 495px;
margin: 0 auto;
left: 0;
right: 0;
}
.news_wrapper .n_bottom{overflow: hidden;margin-top: 18px}
.news_wrapper .tab_box ul li .listInfo .pull-right span i{font-size: 20px;vertical-align: text-top;}
/* ======================================================================================新闻详情 */
.news_details{padding:100px 0;}
.news_details .title h4{font-size: 22px;}
.news_details .title div.tc{font-size:16px;color: #999;margin-top: 20px}
.news_details .title div.tc span{padding:0 10px}
.news_details .text_box{margin-top: 50px;text-align: center;}
.news_details .text_box p{text-indent: 1cm;color: #666;line-height: 30px;font-size: 15px;text-align: left;text-align: justify;}
.news_details .text_box img{display: inline-block;margin:15px 0;}
.news_details .article_btn {
    padding-top: 40px;
    overflow: hidden;
    border-top: 1px solid #ccc;
    margin-top: 40px;
}
.news_details .article_btn a{
color: #333;
}
.news_details .article_btn a:hover{color:#e35b5b}
/* ============================================分页样式================================== */
.page {height:120px;}
.page dl {
    width: 440px;
    margin: 100px auto;
}
.page dl dd{margin:0!important;padding:0!important;float:left;margin:0 1px!important}
.page dl dd a{padding: 5px 10px;border:1px solid #ccc;color:#333;text-decoration: none;}
.page dl dd a.active,.page dl dd a:hover{background:#e35b5b;border-color:#e35b5b;color:#fff;}




























/* 媒体查询 */
@media only screen and (min-width: 1600px) and (max-width: 1900px) {
  .wrap_banner{height: 700px;}
}
@media only screen and (min-width: 1500px) and (max-width: 1600px) {
  .wrap_banner{height: 650px;}
}
@media only screen and (min-width: 1400px) and (max-width: 1500px) {
  .wrap_banner{height: 600px;}
  .wrap_banner .b1 {
    bottom: 50px;
    right: 100px;
}
}
@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  .wrap_banner{height: 560px;}
  .wrap_banner .b1 {
    bottom: 50px;
    right: 100px;
}
}
@media only screen and (min-width: 1201px) and (max-width: 1300px) {
  .wrap_banner{height: 520px;}
  .wrap_banner .b1 {
    bottom: 50px;
    right: 100px;
}
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {

/* ====================================================================页头页脚=============================================================== */
.footer .col-sm-3{padding-left: 10%!important;}
.footer ul li a, .footer ul li span {
    padding: 0 9px!important;
}
/* ======================================================================首页================================================================= */
.swiper-container {
width: 100%;
height: 500px
}
.index_titlebox .index_title{font-size: 26px}
.index_titlebox .index_intro{font-size: 16px}
/* 我们可以做的更好 */
.do_well .col-sm-3 p.p3{font-size: 13px;}
/* 我们的成功案例 */
.do_well .col-sm-4.col-xs-6{padding:0 5px;}
/* 腰线1 */
.waist_line{height: 300px;}
.waist_line h2 {
    font-size: 26px;
    color: #fff;
    padding-top: 60px;
    line-height: 40px;
}
.waist_line a {
    margin-left: 85px;
    width: 180px;
    height: 50px;
    line-height: 35px;
    font-size: 20px;
}
/* 新闻中心 */
.index_news .media-body p{display:none;}
.index_news{height: 590px}
.news_details .article_btn{text-align:left;}
.news_details .article_btn div{
  width:100%;
  word-break:keep-all;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}
.news_details .article_btn .pull-right{float:left!important;margin-top: 10px;}
/* =============================================================================================关于我们 */
.about_banner {height: 330px;}
.about_wrapper .col-sm-5,.about_wrapper .col-sm-7{
	width: 100%
}
.about_wrapper .col-sm-5,.about_wrapper .do_well .box .col-sm-7 h3{text-align: center;}
.about_wrapper .col-sm-7{margin-top:20px;}
.about_wrapper .col-sm-5 img{display: inline-block;}
.about_wrapper .box .all_box .text_box {
    padding-top: 60px;
}
.about_wrapper .yctd {
    margin-top: 15px;
}
.about_wrapper {
    margin-bottom: 50px;
}
.about_wrapper .tab{width: 260px}
/* ===============================================================================================服务项目 */
.service_wrapper .do_well .box .col-sm-4 .text_box p{font-size: 13px;}
/* =================================================================案例列表 */
.tab_wrapper .tab li{width: 100px}
.case_wrapper ul.tab {
    width: 890px;
}
.case_wrapper .tab_box .col-sm-4 .cover h4 {
    margin-top: 10%;
    margin-bottom: 10px;
}
/* =========================================================案例详情=========================================== */
.case_details .lbt {
    background-size: 90%;
}
.case_details div#carousel-example-generic {
    width: 80%;
    margin-left: -10px;
}
.case_details .lbt .carousel-inner .item {
    top: 27%;
}
.case_details .carousel-indicators {
    bottom: 31.6%;
}
.case_details .text_box .logo {
    padding: 50px 0 40px 0;
}






























}
@media only screen and (min-width: 1000px) and (max-width: 1198px) {
  nav.navbar.navbar-default ul li a {
    width: 100px;}
  /* =============================================================================案例详情 */
  .case_details .lbt .carousel-inner .item {
    top: 4.5%;
  }
.case_details .carousel-indicators {
    bottom: 23.5%;
}
.case_details .lbt {
    height: 770px;
}
.case_details .case_tip h3 {
    font-size: 0.3rem;
}
.case_details .case_tip a.btn {
    width: 2.5rem;
    height: 0.7rem;
    font-size: 0.3rem;
    line-height: 0.45rem;
}
/* ===================================================================================联系我们 */
.contact_wrapper .contact_bottom .text ul {
    margin: 10px 0;
}
/* ===================================================================================网站模版列表 */
.modal_show .col-sm-4 .img_boxs{max-height:200px;}
.modal_show .col-sm-4 .img_boxs img{min-height:200px;}




}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
/* ====================================================================页头页脚=============================================================== */
nav.navbar.navbar-default ul li a{
	    width: 80px;
    padding: 15px 2px;
    font-size: 14px;
}
.footer ul li a, .footer ul li span {
    padding: 0 6px!important;
}
.footer ul li a, .footer ul li span {
    font-size: 13px;
}
.footer .row {
    font-size: 13px;
    line-height: 26px;
    padding-top: 20px;
}
.footer .col-sm-3 p{font-size: 12px}

/* =================================================================关于我们 */
.about_wrapper .box .all_box .text_box p {
    line-height: 21px;
    font-size: 13px;
}
.about_wrapper .box .col-sm-3.col-xs-6 {
    padding-right: 5px;
}
.about_wrapper.tab_wrapper .tab li {
    width: 100px!important;
    margin-right: 55px!important;
}
.about_wrapper.tab_wrapper .tab li.last{margin-right: 0!important}
/* =================================================================服务项目 */
.service_wrapper .do_well .box .col-sm-4 .text_box {
    padding: 5px 15px;
}
.service_dowell .col-sm-3{width: 49%;margin:0.5%;}
/* =================================================================网站模版列表 */
.modal_show .col-sm-4 .img_boxs{max-height:200px;}
.modal_show .col-sm-4 .img_boxs img{min-height:200px;}
.modal_show .col-sm-4{padding:5px}
/* =================================================================案例列表 */
.tab_wrapper .tab li {
    width: 90px;
    font-size: 14px;
    margin-right: 1%!important;
}
.case_wrapper .tab_box .col-sm-4 .cover h4 {
    margin-top: 5%;
    margin-bottom: 5px;
}
/* ==================================================================案例详情 */
.case_details .lbt {
    height: 665px;
  }
  .case_details .lbt .carousel-inner .item {
    top: 8%;
}
.case_details .carousel-indicators {
        bottom: 26.5%;
}
.carousel-indicators li,.carousel-indicators .active  {
    width: 14px;
    height: 14px;
}
.case_details .carousel-indicators{height: 26px;line-height: 26px}
.case_details .case_tip h3 {
    font-size: 0.3rem;
}
.case_details .case_tip a.btn {
    width: 2.5rem;
    height: 0.7rem;
    font-size: 0.3rem;
    line-height: 0.45rem;
}
/* =======================================================================================联系我们 */
.contact_wrapper .contact_bottom .col-sm-6{
  width: 100%;
}
.contact_wrapper .contact_bottom {
    margin-top: 30px;
}
.contact_wrapper .contact_bottom .text {
    border: 2px dashed #999;
    padding: 0 15px;
    margin-bottom: 20px;
}
/* =======================================================================================新闻列表 */
.tab_wrapper.news_wrapper .tab li {
    width: 90px;
    font-size: 14px;
    margin-right: 25px!important;
}
.tab_wrapper.news_wrapper .tab li.last{margin-right: 0!important;}
.news_wrapper .tab {
    width: 326px;
  }
.news_wrapper .n_bottom {
    margin-top: 0px;
}
/* =========================================================================================新闻详情 */
.news_details{padding:40px 0;}




}
@media only screen and (min-width: 320px) and (max-width: 769px) {
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{margin:0;}
.navbar-default .navbar-toggle {
    border-color: #666;
    background: #666;
    margin-right:0;
}
.navbar-default .navbar-brand{padding-left: 0;}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background: #666;;}
.navbar-collapse {
    width: 140px;
    background: #fff;
    position: absolute;
    z-index: 9;
    right: 10px;
}
.navbar-nav {
    margin: 0px -15px;
}
nav.navbar.navbar-default ul li a {
    width: 100%;
    height: 40px;
    text-align: left;
    line-height: 18px;
    font-size: 14px;
    border-bottom: 1px dashed #ccc;
    text-align: center;
}
.swiper-container {
    height: 350px;
}
.copyright {
    width: 100%;
    background: #16171a;
    height: auto!important;
    line-height:20px!important;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding:10px 0;
}
.copyright p{margin:0;}
/* ==============================================================首页 */
.do_well {margin-top: 0px;}
.index_titlebox .index_title{font-size: 18px; margin-top: 30px;}
.index_titlebox .index_intro {
    font-size: 14px;
    color: #727272;
    margin: 30px 0 30px 0;
}
.index_titlebox .index_title:before {
    bottom: -19px;
}
.do_well .col-sm-4.col-xs-6{padding:0 3px;margin-bottom: 20px!important;}
.waist_line {
    height: 150px;
    background: url(../img/index_12.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
}
.waist_line h2 {
    font-size: 16px;
    color: #fff;
    padding-top: 15px;
    line-height: 30px;
}
.waist_line a {
    float: left;
    margin-left: 0;
    width: 82px;
    height: 31px;
    margin-right:24px;
    text-align: center;
    line-height: 16px;
    font-size: 14px;
}
.waist_line .index_button{
  margin-top: 25px;
  overflow: hidden;
  max-width: 190px;
}
.waist_line .index_button a.btn:nth-child(2){margin-right: 0;}
.do_well .col-sm-3 p{margin-bottom: 0}
/* 成功案例 */
.image01 .buttons i {
    width: 45px;
    height: 45px;
    line-height: 44px;
    font-size: 20px;
    margin-top: 0;
}
.image01 .buttons p {
    font-size: 12px;
    font-weight: normal;
}
.image01 .title{font-size: 12px}
/*网站模版列表*/
.modal_show .col-sm-4 .nr {
    margin: 6px;
}
.modal_show .col-sm-4{margin-bottom: 0px!important;}
/* 新闻中心 */
.modal_show .col-sm-4 .img_boxs{max-height: 180px;}
.modal_show .col-sm-4 .img_boxs img{min-height: 180px;}
.index_news{height: auto;padding-top: 0px;margin-top: 20px;padding-bottom: 10px;}
.index_news .col-sm-6{padding:0;}
.index_news .col-sm-6 .media{margin-bottom: 10px}
.index_news .media-body h4 {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
}
.index_news .media-left p {
    width: 70px;
    height: 70px;
}
.index_news .media-left p span.month {
    font-size: 14px;
}
.index_news .media-left p span.day {
    font-size: 25px;
}
.index_news .media-body p {
    font-size: 13px;
    line-height: 20px;
}
.news_details .article_btn {
    text-align: left;
    padding-top: 0;
    border: 0;
    margin-top: 20px;
}
.news_details .article_btn div{
  width:100%;
  word-break:keep-all;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}
.news_details .article_btn .pull-right{float:left!important;margin-top: 10px;}
.news_details .article_btn a{font-size: 13px;}
/* 腰线2 */
.waist_line2 {
    background: url(../img/bbbggg.png) no-repeat center;
    height: 150px;
    background-size: cover;
}
/* =============================================================================================关于我们 */
.about_banner {height: 130px!important;}
.about_wrapper .yctd{margin-top: -15px;}
.tab_wrapper .tab_nav {
    position: relative;
    height: 50px;
    padding: 30px 0 40px 0;
}
.about_wrapper .tab_box.col-sm-12,.about_wrapper .do_well .box .col-sm-7,.about_wrapper .do_well .box .col-sm-5{padding:0;}
.about_wrapper  .do_well .container{padding:0;}
.about_wrapper .box .all_box .text_box p {
    padding: 0 10px;
    line-height: 22px;
    font-size: 13px;
}
.about_wrapper .box .col-sm-3.col-xs-6 {
    padding: 0 5px;
    padding-right: 0;
    margin-bottom: 20px;
}
.about_wrapper .box .all_box .text_box {
    padding-top: 62px;
}
.about_wrapper{margin-bottom: 20px;}
.about_wrapper .box .all_box{background-size: cover}
.about_wrapper .tab{width: 260px}
.about_wrapper.tab_wrapper .tab li {
    width: 100px!important;
    margin-right: 55px!important;
    font-size: 15px;
    height: 35px;
    line-height: 33px;
}
.about_wrapper.tab_wrapper .tab li.last{margin-right: 0!important}
.about_wrapper .col-sm-5 img {
    display: inline-block;
}
.about_wrapper .col-sm-5{text-indent: center}
.about_wrapper .do_well .box .col-sm-7 h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
/* ===================================================================================服务项目 */
.cb{clear: both}
.service_wrapper .clearfix {
    display: inline-flex;
}
.service_wrapper .do_well .box .col-sm-4 .text_box p {
    font-size: 13px;
}
.service_wrapper .do_well .container{padding:0;}
.service_dowell .col-sm-3{width: 49%;margin:0.5%;float: left;padding:5px;}
.service_dowell .col-sm-3 p{font-size: 12px;}
.service_dowell .col-sm-3 h4{font-size: 14px}
.service_dowell .col-sm-3.h5 p {
    line-height: 20px;
}
.service_dowell .col-sm-3{height: 210px;}
/* =================================================================案例列表 */
.tab_wrapper .tab li {
    width: 90px;
    font-size: 14px;
    margin-right: 0.5%!important;
    margin-left: 0.5%;
}
.case_wrapper .tab li{height: 35px;line-height: 33px;font-size: 15px;margin-bottom: 8px}
.case_wrapper ul.tab {
    width: 100%;
}
.tab_wrapper .tab li {
    width: 24%;
    cursor: pointer;
    font-family: '微软雅黑';
    float: left;
    border-radius: 50px;
    text-align: center;
    margin-right: 50px;
    border: 1px solid #e35b5b;
    transition: all 0.4s ease;
}
.case_wrapper .tab_box .col-sm-4 .main_box {
    margin-top: 20px;
}
.container_2 {
    padding: 10px;
}
.case_wrapper .tab_box .col-sm-4 {
    margin-bottom: 20px;
    width: 50%;
    float: left;
    padding: 0;
}
.case_wrapper .tab_box .col-sm-4 .cover{display: none}
.case_wrapper .tab_box .col-sm-4 p.name{color: #333;margin:0;}
.case_wrapper .tab_box .col-sm-4 a{text-decoration: none;}
/* =================================================================================案例详情 */
.case_details .title {
    padding: 0;
    margin-top: 20px;
}
.case_details .text_box .logo {
    padding: 20px 0 20px 0;
}
.case_details .title h3{font-size: 20px}
.case_details .title a.btn {
    width: 98px;
    height: 30px;
    line-height: 15px;
    margin: 20px auto 20px;
}
.case_details .case_tip h3 {
    font-size: 15px;
    line-height: 26px;
}
.case_details .case_tip a.btn {
    width: 110px;
    height: 34px;
    display: inline-block;
    border: 2px solid #333;
    font-size: 14px;
    color: #333;
    margin: 0.5rem 0 0.7rem 0;
    line-height: 17px;
}
.case_details .text_box .logo:before {
    width: 80%;
}
.case_wap {margin:20px 0;}
.case_details ul li a i {
    vertical-align: sub;
    color: #999
}
.case_details ul li a:hover i{color: #fff}
/* ===================================================================================联系我们 */
.contact_wrapper .contact_bottom {
    margin-top: 30px;
}
.contact_wrapper .contact_bottom .text {
    border: 2px dashed #999;
    padding: 0 15px;
    margin-bottom: 20px;
}
.contact_wrapper .contact_bottom {
    margin-top: 0;
    margin-bottom: 20px
}
/* =========================================================================================新闻列表 */
.tab_wrapper.news_wrapper .tab li {
    width: 90px;
    font-size: 15px;
    margin-right: 25px!important;
    height: 35px;
    line-height: 33px
}
.tab_wrapper.news_wrapper .tab li.last{margin-right: 0!important;}
.news_wrapper .tab {
    width: 326px;
  }
.news_wrapper .tab_box ul li .listInfo .nTitile {
    font-size: 14px;
}
.news_wrapper .tab_box ul li .listInfo p, .news_wrapper .tab_box ul li .listInfo button.btn {
    font-size: 13px;
    padding-top: 0px;
    line-height: 22px
}
.news_wrapper .tab_box ul li .listInfo .nTitile {
    font-size: 15px;
    width: 100%;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news_wrapper .n_bottom {
    margin-top: 0px;
}
.news_wrapper .tab_box {margin-top: 20px;}
.news_wrapper .tab_box ul li .listInfo .pull-right span i {
    font-size: 18px;
    vertical-align: text-top;
}
/* =========================================================================================新闻详情 */
.news_details {
    padding: 20px 0;
}
.news_details .title h4 {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
}
.news_details .text_box {
    margin-top: 20px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
.news_details .title div.tc {
    font-size: 15px;
    margin-top: 10px;
    text-align: left;
}
.news_details .title div.tc span{padding-left: 0}
.news_details .article_btn a.btn {
    width: 100px;
    height: 35px;
    line-height: 19px;
    border: 1px solid #333;
    color: #666;
    display: inline-block;
    font-size: 14px;
    margin: 20px 15px 15px 15px;
}
div#dituContent{height: 320px!important;}

}

@media only screen and (min-width: 310px) and (max-width: 580px) {
.swiper-container {
    height: 200px;
}
/* ========================================================================================首页 */
.do_well .col-sm-3 div img {
    width: 90%;
}
.do_well .index_box ul.list-inline{margin:0;overflow: hidden;}
/* ===================================================================================服务项目 */
.service_wrapper .do_well .box .col-sm-4 .text_box p {
    font-size: 12px;
}
.service_wrapper .do_well .box .col-sm-4 .text_box {
    background: #666;
    padding: 5px;
    text-align: center;
}
.service_wrapper .do_well .box .col-sm-4 .text_box p{margin-bottom: 5px}
.service_wrapper .do_well .box .col-sm-4 .text_box{height: 118px}
/* ====================================================================================联系我们 */
.contact_wrapper .contact_bottom .col-sm-6 {
    padding:0;
}
.contact_wrapper .contact_bottom h3 {
    font-size: 18px;
}
.contact_wrapper .contact_bottom .text p.p1 {
    margin: 10px 0;
    font-size: 14px;
}
.contact_wrapper .contact_bottom .text ul {
    margin: 10px 0;
}
.contact_wrapper .contact_bottom .text ul li p {
    margin-top: 5px;
    font-size: 14px;
    margin-bottom: 0
}
.contact_wrapper .contact_bottom .text p.adress {
    font-size: 14px;
}
.contact_wrapper .contact_code{text-align: center;}
.contact_wrapper .contact_bottom ul li {
    margin-right: 0;
}
.contact_wrapper .contact_bottom ul {display: inline-block;}
/* ================================================================================新闻列表 */
.news_wrapper .tab_box ul li .imgPic,.news_wrapper .tab_box ul li .imgPic img{width: 100%;height: auto;}
.news_wrapper .tab_box ul li .listInfo {
    margin: 10px 0 0 0;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}
.news_wrapper .tab_box ul li{border: 1px solid #e1e1e2;margin-bottom: 20px;}

/* 分页 */
.page dl{width:315px;margin:0 auto}
.page dl dd a {
    padding: 0px 5px;
    font-size: 13px;
}
.page {
    padding-top: 40px;
}
/* 模版展示 =====================================================================================*/
.modal_show .col-sm-4 .img_boxs {
    max-height: 150px;
}
.modal_show .col-sm-4 .img_boxs img {
    min-height: 150px;
}
.modal_show .col-sm-4 .nr {
    margin: 3px;
}

}


